.pedidos {
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  min-height: 100vh;
  height : 700px;
  padding-top: 100px;
  position: relative;

  @include from(lg) {
    padding-top: 68px;
    height: initial;
  }

  &-wrapper {
    width: 100%;
    height: 600px;
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    flex-direction: column;
    padding: 0 1rem;
    position: absolute;
    top: 100px;

    @include from(lg) {
      position: static;
      padding: 0;
      justify-content: center;
      height: 100%;
    }

  }


  &-title {
    width: 100%;
    padding-bottom: 1rem;
    font-weight: bold;
    font-size: 20px;
    color: $color-blue;
    font-family: $font-family-secondary;
    display: flex;
    align-items: center;
    justify-content: space-between;
    position: relative;

    @include from(lg){
        justify-content: initial;
        padding: 1rem 0;
    }

    @include from(1400px){
        padding: 1rem 0;
    }

    &-subtitle{
      position: absolute;
      bottom:-10px;
      display: flex;
      width: 100%;
      @include from(lg){
          bottom: initial;
          left: 0;
          justify-content: flex-end;
      }

      & span{
        margin: 0 5px;
      }

    }

    &-icon{
      width: 50px;
      height: 50px;
      display:flex;
      align-items:center;
      position: fixed;
      top: 20rem;
      right:2rem;
      z-index: $z-fixed;


      @include from(lg){
          display:none;
      }



      & .FingerRight{
        width: 100%;
        height:100%;
        opacity: 0;
        color: $color-blue;
        animation: slideRight 2s infinite ease-in-out;
      }


    }


  }

  &-content {
    width: 100%;
    display: flex;
    overflow-x: auto;
    overflow-y: hidden;

    @include from(lg) {
      display: grid;
      grid-template-columns: repeat(5, 190px);
      grid-column-gap: 10px;
      overflow: initial;
      height: 440px;
    }

    &-item {
      min-width: 100%;
      height: 100%;
      margin-right: 1rem;

      @include from(lg){
        min-width: initial;
        margin-right: 0;
        width: 100%;
      }

      &.is-active {

        & .BtnPedido {
          box-shadow: 3px 3px 6px $shadow;

        }

        & .BtnPedido-link {
          background: $color-yellow;
        }

        & .pedidos-content-item-day {
          background: white;
          box-shadow: 3px 3px 6px $shadow;
        }

        & .CardMenu {
          background: white;
          box-shadow: 3px 3px 6px $shadow;
        }
      }




      &-day {
        width: 100%;
        height: 40px;
        padding: 5px;
        background: $white;
        margin-bottom: 10px;
        display: flex;
        justify-content: space-between;
        color: $color-red;
        transition: background-color .2s, box-shadow .2s;
        cursor: default;

        @include from(lg){
            justify-content: initial;
        }



        & span {
          display: flex;
          width: 25px;
          height: 100%;
          font-family: $font-family-secondary;
          font-weight: $light;
          font-size: 12px;
        }

        & p {
          width: 135px;
          font-family: $font-family-secondary;
          display: flex;
          justify-content: center;
          align-items: center;
          font-weight: bold;
          font-size: 16px;

          @include from(lg){
              width: 135px;
          }
        }

        &-icon {
          width: 30px;
          height: 100%;
          align-self: center;
          position: relative;
          cursor: pointer;
          background: url(/media/iconMore.svg) no-repeat center;

          @include from(lg){
              width: 20px;
          }

        }

      }

    }


  }

  &-buttons {
    width: 100%;
    display: flex;
    justify-content: space-between;
    align-items: center;
    flex-direction: column;
    height: 40px;

    @include from(lg){
      height: 40px;
      flex-direction: row;
      margin-top: 20px;
    }

    &-wrapper{
      width: 100%;
      height: 90px;
      display: flex;
      justify-content: space-between;
      align-items: center;

      @include from(lg){
          width: 390px;
          height: 100%;
          flex-direction: row;

      }

      &.is-mobile{
        width: 100px;
        height: 40px;
        position: absolute;
        top: 1rem;
        right: 1rem;

        @include from(lg){
            position: static;
            width: 390px;
            height: 100%;
        }

      }
    }


    &-text {
      color: $darkgray;
      font-size: 14px;
      font-weight: bold;
      padding-bottom: 13px;
    }
  }
}