.containerRegister {
    width: 100%;
    position: relative;
    padding-top: 100px;




    @include from(lg) {
        min-height: 100vh;
        height: 550px;
        padding-top: 0;
        background-image: linear-gradient(to right, $color-blue 30%, white 30%);
        z-index: $z-normal;
    }

    @include from(2300px){
        background-image: linear-gradient(to right, $color-blue 40%, white 40%);
    }


}

.register {

    width: 100%;
    height: 100%;
    min-height: 100%;


    @include from(lg) {

        width: 100vw;
        height: 100vh;
        display: flex;
        justify-content: center;
        align-items: center;
        padding-top: 0;

    }

    &-wrapper {
        width: 100%;
        height: 100%;
        display: flex;


        @include from(lg) {
            display: grid;
            grid-template-columns: 268px 1fr;
            grid-template-rows: 100%;
            align-content: center;
            padding: 0;
            max-height: 768px;
        }

    }


    &-data {
        width: 100%;
        height: 100%;
        display: flex;
        flex-direction: column;



        &-nav {
            width: 100%;
            height: 68px;
            display: flex;
            align-items: center;
            justify-content: flex-end;


            @include to(lg) {
                display: none;
            }


        }

        &-content {
            width: 100%;
            height: 100%;
            display: flex;
            justify-content: center;
            align-items: center;
            flex-direction: column;
            position: relative;

            @include from(lg) {

                height: calc(100% - 68px);
            }

        }
    }

}