.view3 {
    padding-right: 1rem;
    padding-left: 1rem;
    width: 100%;
    height: 700px;
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    flex-direction: column;
    padding-top: 50px;
    max-width: 400px;

    @include from(lg) {
        height: 100%;
        width: 420px;
        padding-right: 0;
        padding-left: 0;
        max-width: initial;
        position: static;
        padding-top: 0;
    }

    &-inputs {
        width: 100%;
        height: 450px;
        display: flex;
        flex-direction: column;
        justify-content: space-evenly;

        @include from(lg){
            height: 400px;
        }





    }

    &-inputContainer {
        width: 100%;
        height: 40px;
        display: flex;

        @include from(lg) {
            height: 50px;
        }

        &.is-50{
            width: 100%;
            @include from(lg){
                width: 49%;
            }

        }
        & .InputWrapper {


            @include from(lg){
                border-right: 0;
            }
        }

        & .InputWrapper.is-border{
            border-right: 1px solid $darkgray;
        }
        & .InputWrapper.is-100{
            width: 100%;
        }


        & .InputIcon {
            display: none;

            @include from(lg) {
                width: 50px;
                height: 100%;
                border: 1px solid $darkgray;
                border-left: 0;
                display: flex;
                justify-content: center;
                align-items: center;
                cursor: pointer;
            }



        }

    }


    &-inputsContainer {
        display: flex;
        justify-content: space-between;
        flex-direction: column;

        @include from(lg) {
            flex-direction: row;
        }

        &.is-3rows{
            height: 130px;
            @include from(lg){
                height: auto;
            }
        }
        &.is-2rows{
            height: 88px;

            @include from(lg){
                height:auto;
            }
        }

        & .InputWrapper {
            width: 100%;

            @include from(lg) {
                width: 200px;
            }
        }
    }



    &-selectContainer {
        width: 100%;
        height: 40px;
        border: 1px solid $darkgray;
        position: relative;

        @include from(lg) {
            width: 200px;
            height: 50px;
        }

        &.is-50{

            width: 100%;
            @include from(lg){
                width: 49%;
            }

        }


        &::before {
            content: '';
            width: 15px;
            height: 20px;
            position: absolute;
            top: 10px;
            right: .9rem;
            background: url(/media/iconDrop.svg) no-repeat center;
            background-size: contain;

            @include from(lg) {
                top: 15px;
            }

        }
    }

    &-select {
        appearance: none;
        width: 100%;
        height: 100%;
        border: 0;
        background: none;
        padding-left: 12px;
        color: $darkgray;
        font-size: var(--text-boton);
        font-weight: $light;
    }

    &-button{
        display:flex;
        justify-content:space-between;
        align-items:center;
        flex-direction: column;
        height: 90px;


        & .map{
            @include from(lg){
                display:none;
            }
        }

        @include from(lg){
            height: 50px;
        }
    }

    &-textArea{
        width: 100%;
        border: 1px solid $darkgray;
        color: $darkgray;
        font-size: var(--text-boton);
        font-weight: bold;
        border-radius: 0;
        padding: 12px;
    }

}