.view1a {
  width: 100%;
  height: 450px;
  align-content: center;
  display: grid;
  justify-items: center;
  align-items: center;
  grid-template-rows: 200px 50px 60px;
  grid-row-gap: 1rem;
  padding-top: 50px;


  @include from(lg){
      width: 350px;
      grid-row-gap: 2rem;
      padding-top: 0;
  }





  &-button {
      width: 100%;
      height: 42px;
      display: flex;
      justify-content: center;

  }
}
