.view5 {
    width: 100%;
    height: 450px;
    display: grid;
    grid-template-rows: 50px 100px 50px;
    align-items: center;
    align-content: center;
    justify-items: center;
    padding-right: 1rem;
    padding-left: 1rem;
    position: absolute;
    top: 40px;
    max-width: 350px;


    @include from(lg) {
        justify-content: space-evenly;
        width: 320px;
        padding-right: 0;
        padding-left: 0;
        position: static;
        max-width: initial;
    }


    &-textContainer {
        font-size: 16px;
        font-weight: $light;
        color: $color-blue;
        text-align: center;
        font-family: $font-family-secondary;

        @include from(lg) {
            font-size: 18px;
        }

    }



    & .Button.is-mobile{


        @include from(lg){
            width: 280px;
        }
    }
}