.view4 {

    width: 100%;
    height: 450px;
    display: flex;
    justify-content: space-evenly;
    flex-direction: column;
    align-items: center;
    padding-right: 1rem;
    padding-left: 1rem;
    padding-top: 50px;
    max-width: 400px;

    @include from(lg) {
        width: 420px;
        padding-right: 0;
        padding-left: 0;
        height: 100%;
        padding-top: 0;
        max-width: initial;
    }


    &-textContainer {
        width: 100%;
        font-size: 14px;
        color: $color-blue;
        text-align: center;
        font-family: $font-family-secondary;
        line-height: 15px;

        @include from(lg) {
            font-size: 18px;
            line-height: 20px;
        }


        & span {
            font-weight: bold;

            @include from(lg) {
                font-weight: normal;
            }
        }


        & .subtitle{

            @include from(lg){
                font-weight: bold;
            }

        }
    }

    &-inputs {
        width: 100%;
    }


    &-inputsContainer {
        width: 100%;
        height: 100%;
        display: flex;
        justify-content: space-between;
        position: relative;
        flex-direction: column;

        & .InputWrapper {
            width: 200px;
        }
    }


    &-inputContainer {
        position: relative;
        width: 100%;
        height: 50px;
        margin-bottom: 10px;
    }

    &-inputRadio {
        display: none;
    }

    &-labelRadio {
        width: 100%;
        height: 100%;
        display: flex;
        justify-content: center;
        align-items: center;
        box-shadow: 3px 3px 6px $shadow;
        color: $darkgray;
        font-weight: bold;
        font-size: 12px;
        transition: background-color .1s, color .1s;
        cursor: pointer;

    }

    &-inputRadio:checked+label {
        background-color: $color-yellow;
        color: white;
    }


    &-iconCommend {
        position: absolute;
        top: 13px;
        right: 0;
        width: 28px;
        height: 24px;
        background-image: url(/media/nube.svg);
        background-repeat: no-repeat;
        background-size: cover;
        background-position: left;
        display: flex;
        align-items: center;
        justify-content: flex-end;
        padding-right: .5rem;
        transform: translateX(28px);
        opacity: 0;
        transition: transform .2s, opacity .2s;
        cursor: default;

        @include from(lg) {
            width: 112px;
            background-image: url(/media/nube.svg);
            transform: translateX(120px);
        }


        &.is-active {
            opacity: 1;
        }



        & span {
            display: none;

            @include from(lg) {
                display: initial;
                font-size: 12px;
                font-weight: bold;
                color: white;
            }
        }

        & img {
            width: 12px;
            height: 12px;
            margin-right: 0;
            transform: translateX(4px);

            @include from(lg) {
                margin-right: .2rem;
                transform: translateX(0);
            }
        }

    }

}