.view1 {
    display: grid;
    width: 100%;
    height: 450px;
    grid-template-rows: 70px 50px 100px 70px;
    grid-row-gap: 1rem;
    justify-items: center;
    align-items: center;
    align-content: center;
    max-width: 350px;
    padding-top: 50px;

    @include from(lg){
        width: 350px;
        grid-template-rows: 70px 180px 50px 200px 60px;
        max-width: initial;
        grid-row-gap: 0;
        padding-top: 0;
    }

    &-message{
        width: 150%;
        border: 2px solid $color-blue;
        padding: 1rem;
        display: flex;
        align-items: center;
        justify-content: center;

        &.is-disabled{
            transform: scale(0);
        }
        @include to(lg){
            padding: .5rem;
            width: 100%;
            line-height: 18px;

        }


        &-text{
            font-size: 12px;
            color: $color-blue;
            font-weight: 500;
        }

        &-btn{
            padding: 10px;
            margin-left: 1rem;
            font-size: 12px;
            font-weight: 500;
            color: white;
            display: flex;
            justify-content: center;
            align-items: center;
            cursor: pointer;





            &.disabled{
                background: #dddddd;
                border: 1px solid #dddddd;
            }

            &.active{
                background: $color-red;
                border: 1px solid $color-red;
            }
        }


    }

    &-inputs {
        width: 178px;
        height: 100%;
        display: flex;
        align-items: center;
        justify-content: space-between;

        @include from(lg){
            width: 100%;
        }

    }


    &-input {
        width: 43px;
        border: none;
        border-bottom: 2px solid $darkgray;
        font-size: 43px;
        font-family: $font-family-secondary;
        font-weight: $light;
        color: $darkgray;

        @include to(lg){
            width: 25px;
            border-bottom: 1px solid $darkgray;
        }

    }


    &-button {
        width: 100%;
        height: 42px;
        display: flex;
        justify-content: center;

    }
}
