.view2 {
    width: 100%;
    height: 450px;
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    flex-direction: column;
    padding-right: 1rem;
    padding-left: 1rem;
    padding-top: 50px;
    max-width: 400px;

    @include from(lg) {
        padding-right: 0;
        padding-left: 0;
        width: 420px;
        height: 588px;
        justify-content: space-around;
        max-width: initial;
        padding-top: 0;
    }


    &-inputs {
        width: 100%;
        height: 260px;
        display: flex;
        align-items: center;
        justify-content: space-between;
        flex-direction: column;



    }

    &-selectContainer {
        width: 100%;
        height: 40px;
        position: relative;

        @include from(lg){
            height: 50px;
        }


        &::before {
            content: '';
            width: 15px;
            height: 20px;
            position: absolute;
            top: 10px;
            right: 1rem;
            background: url(/media/iconDrop.svg) no-repeat center;
            background-size: contain;

            @include from(lg){
                top: 15px;
            }

        }


    }

    &-select {
        appearance: none;
        width: 100%;
        height: 100%;
        background: transparent;
        border-radius: 0;
        border: 1px solid $darkgray;
        color: $darkgray;
        padding-left: 12px;
        font-weight: $light;
        position: relative;
        font-size: var(--text-boton);


    }


    &-inputsContainer {
        width: 100%;
        height: 90px;
        display: flex;
        flex-direction: column;
        justify-content: space-between;
        position: relative;

        &.is-radio{

            height: 50px;
            justify-content: space-between;
            flex-direction: row;
        }

        @include from(lg) {
            width: 100%;
            height: 50px;
            display: flex;
            justify-content: space-between;
            flex-direction: row;
            position: relative;
        }

        & .InputWrapper {
            width: 100%;

            @include from(lg){
                width: 200px;
            }
        }
    }

    &-inputRadio {
        display: none;
    }

    &-labelRadio {
        width: 48%;
        height: 100%;
        display: flex;
        justify-content: center;
        align-items: center;
        box-shadow: 0 3px 6px $shadow;
        color: $darkgray;
        font-weight: bold;
        font-size: var(--text-boton);
        transition: background-color .1s, color .1s;

        @include from(lg){
            width: 200px;
        }
    }

    &-inputRadio:checked+label {
        background-color: $color-yellow;
        color: white;
    }

    &-button {
        width: 100%;
        height: 42px;
        display: flex;
        justify-content: center;

    }
}