.PagosList {
  width: 100%;
  height: 100%;
  display: grid;
  grid-auto-rows: 45px;
  grid-row-gap: 10px;
  align-content: center;

  @include from(lg) {
    width: 80%;
    align-content: initial;
    height: calc(100% - 40px);
    max-width: initial;
  }



  &-item {

    width: 100%;
    height: 50px;
    display: grid;
    grid-template-columns: 2fr 1fr 2fr 1fr;
    grid-template-rows: 25px 25px;
    font-size: 12px;
    color: $darkgray;
    background-color: $white;
    padding-left: 1rem;

    @include from(lg) {
      grid-template-columns: 1fr 1fr 1fr 1fr 1.2fr;
      height: 45px;
      grid-template-rows: initial;
      background-color: initial;
      padding-left: 0;

    }

    &.is-clean {

      width: 100%;
      grid-template-columns: 1fr;
      grid-template-rows: 1fr;
      justify-items: center;
      align-items: center;
      padding-left: 0;

      @include from(lg){
        width: calc(100% + 10px);
      }


    }

    &-text {
      width: 100%;
      height: 100%;
      background: $white;
      cursor: default;
      display: flex;
      justify-content: center;
      align-items: center;
      color: $darkgray;
    }

    &-icon {
      width: 100%;
      height: 100%;
      margin-left: 10px;
    }

    &-fecha,
    &-plan,
    &-tiempo,
    &-total {
      width: 100%;
      height: 100%;
      display: flex;
      align-items: center;
      background: $white;
      cursor: default;

      @include from(lg) {
        justify-content: center;
      }

    }

    &-fecha {}

    &-plan {
      grid-area: 2 / 1 / 3 / 2;

      @include from(lg) {
        grid-area: initial;
      }
    }

    &-tiempo {
      grid-area: 2 / 2 / 3 / 3;

      @include from(lg) {
        grid-area: initial;
      }
    }

    &-total {
      justify-content: flex-start;
      padding-left: 1rem;
      grid-area: 2 / 3 / 3 / 4;

      @include from(lg) {
        grid-area: initial;
      }
    }

    &-boleta {
      display: flex;
      justify-content: center;
      align-items: center;
      background: $white;
      width: 100%;
      height: 100%;
      color: $color-gris;
      grid-area: 1 / 4 / 3 / 5;
      background: $white;
      cursor: pointer;

      @include from(lg) {
        margin-left: 10px;
        grid-area: initial;
      }


      &Icon {
        width: 20px;
        height: 20px;
        margin-right: 10px;
        background: url(/media/imprimirIconRed.svg) no-repeat center;
        background-size: cover;

        @include from(lg) {
          background-image: url(/media/imprimirIcon.svg);
        }

      }


      &Text {

        display: none;

        @include from(lg) {
          display: block;
        }
      }
    }
  }
}