header.Header2
    .Header2-wrapper.layoutContainer

        //- Logo
        a(href="index.html")
            picture.Header2-logo
                source(srcset="/media/logoPlan.svg" media="(min-width: 62em)")
                img(src="/media/logov.svg" alt="logo sanahoria")

        //- Menu
        nav.Nav2#Nav2.p-0
            ul.Nav2-list
                li.Nav2-item: a.Nav2-link(href='index.html'): span Home
                li.Nav2-item: a.Nav2-link(href='planes.html'): span Planes
                li.Nav2-item: a.Nav2-link(href='pedidos.html'): span Mis pedidos
                li.Nav2-item: a.Nav2-link.active(href='#'): span Mis pagos
                li.Nav2-item: a.Nav2-link(href='perfil.html'): span Configuración
                li.Nav2-item: a.Nav2-link(href='#'): span Cerrar Sesión
        //- Calendario
        .Button.calendar.is-nav
            a.Button-link.delete-left-0.delete-right-1(href='#').calendar
                .Button-link-icon.plan
                span.Button-link-text
                    | 0 días
        //- Usuario
        .Button.user.is-nav
            a.Button-link.delete-right-0.delete-left-1(href='perfil.html').user
                .Button-link-icon
                span.Button-link-text
                    | Javier Asalde
        //- Toggler
        .Header2-toggler
            .Toggler#Toggler(data-target="Nav2")
                .Toggler-line
                .Toggler-line
                .Toggler-line
