//- Title
.pagos-title
  .p Mis Pagos
//- Contenido
.pagos-content
  .pagos-content-caption
    p Fecha
    p Plan
    p Tiempo
    p Total
    p Boleta electrónica
  .PagosList
    .PagosList-item.is-clean
      span.PagosList-item-text No se registran pagos

    .PagosList-item
      .PagosList-item-fecha 12/12/2019
      .PagosList-item-plan Sólo Almuerzo
      .PagosList-item-tiempo 20 días
      .PagosList-item-total 2,000 Pesos
      .PagosList-item-boleta
        .PagosList-item-boletaIcon
        .PagosList-item-boletaText
          | Imprimir comprobante
    .PagosList-item
      .PagosList-item-fecha 12/12/2019
      .PagosList-item-plan Sólo Almuerzo
      .PagosList-item-tiempo 20 días
      .PagosList-item-total 2,000 Pesos
      .PagosList-item-boleta
        .PagosList-item-boletaIcon
        .PagosList-item-boletaText
          | Imprimir comprobante
    .PagosList-item
      .PagosList-item-fecha 12/12/2019
      .PagosList-item-plan Sólo Almuerzo
      .PagosList-item-tiempo 20 días
      .PagosList-item-total 2,000 Pesos
      .PagosList-item-boleta
        .PagosList-item-boletaIcon
        .PagosList-item-boletaText
          | Imprimir comprobante
    .PagosList-item
      .PagosList-item-fecha 12/12/2019
      .PagosList-item-plan Sólo Almuerzo
      .PagosList-item-tiempo 20 días
      .PagosList-item-total 2,000 Pesos
      .PagosList-item-boleta
        .PagosList-item-boletaIcon
        .PagosList-item-boletaText
          | Imprimir comprobante
    .PagosList-item
      .PagosList-item-fecha 12/12/2019
      .PagosList-item-plan Sólo Almuerzo
      .PagosList-item-tiempo 20 días
      .PagosList-item-total 2,000 Pesos
      .PagosList-item-boleta
        .PagosList-item-boletaIcon
        .PagosList-item-boletaText
          | Imprimir comprobante
    .PagosList-item
      .PagosList-item-fecha 12/12/2019
      .PagosList-item-plan Sólo Almuerzo
      .PagosList-item-tiempo 20 días
      .PagosList-item-total 2,000 Pesos
      .PagosList-item-boleta
        .PagosList-item-boletaIcon
        .PagosList-item-boletaText
          | Imprimir comprobante

