//- Fixed Elements
.ModalPedido#ModalContainer
    .ModalPedido-content.p-t-2
        img.ModalPedido-close#BtnClose(src="/media/close.svg", alt="icono de cerrar")
        .ModalPedido-text
            p Recuerda que puedes modificar tu menú hasta las 8:00 pm de la noche anterior.
        .BtnPedido.is-modal.m-b-1
            a.BtnPedido-link.is-gray(href="#")
                | Eliminar recordatorio
        .BtnPedido.is-modal
            a.BtnPedido-link.is-gray(href="#")
                | Entendido


//- Modal Edit
.ModalEdit.is-hidden#ModalEdit
  .ModalEdit-wrapper
    img.ModalEdit-close(src="/media/close.svg", alt="icono de cerrar")
    .ModalEdit-title
      .ModalEdit-title-icon
        img(src="/media/comidaYellow.svg", alt="icono de comida")
      .ModalEdit-title-text Desayuno
    form.ModalEdit-forms
      input(type="radio", id="plato1",name='platos').ModalEdit-input
      label(for="plato1").ModalEdit-label
        .ModalEdit-label-content
          .ModalEdit-label-content-subtitle
            h3 Plato #1
            img(src="/media/icon4.png", alt="iconos")
          p El costo por día es de 400 pesos. El plan está vigente por 3 semanas desde la compra.
      input(type="radio", id="plato2",name='platos' checked).ModalEdit-input
      label(for="plato2").ModalEdit-label
        .ModalEdit-label-content
          .ModalEdit-label-content-subtitle
            h3 Plato #2
            div
              img(src="/media/icon1.png", alt="")
              img(src="/media/icon2.png", alt="")
          p El costo por día es de 400 pesos. El plan está vigente por 3 semanas desde la compra.
      input(type="radio", id="plato3",name='platos').ModalEdit-input
      label(for="plato3").ModalEdit-label
        .ModalEdit-label-content
          .ModalEdit-label-content-subtitle
            h3 Plato #3
            div
              img(src="/media/icon1.png", alt="")
              img(src="/media/icon2.png", alt="")
          p El costo por día es de 400 pesos. El plan está vigente por 3 semanas desde la compra.
    .ModalEdit-checkboxContainer
      input.ModalEdit-checkbox(type="checkbox", name="cubiertos", id='cubiertos' checked)
      label.ModalEdit-checkboxLabel(for="cubiertos") Añadir Cubiertos
    .Button.is-pedido
      #Button.Button-link.is-active
          span.Button-link-text
              | Guardar





.pedidos
  .pedidos-wrapper.layoutContainer
    //- Title
    .pedidos-title
      p Mis pedidos
      .pedidos-title-subtitle
        p Semana
        span 1
        | de
        span 54

      .pedidos-title-icon
        <svg  class="FingerRight" height="511pt" viewBox="-70 0 511 511.984" width="511pt" xmlns="http://www.w3.org/2000/svg">
          <path d="m352.40625 181.316406-105.597656 105.8125c6.398437-6.398437 14.929687-9.386718 23.464844-8.53125 7.039062.425782 13.652343 3.199219 18.988281 8.53125h.210937c11.519532 11.523438 11.734375 30.296875.640625 42.027344l-21.972656 21.972656c6.398437-6.398437 14.933594-9.386718 23.464844-8.53125 7.042969.425782 13.65625 3.199219 18.988281 8.53125h.214844c11.730468 11.734375 11.730468 30.933594 0 42.667969l-87.894532 79.789063c-19.628906 17.917968-45.226562 27.730468-71.679687 27.730468-28.160156 0-55.253906-11.304687-75.308594-31.144531l-33.492187-33.707031c-20.054688-19.839844-31.359375-46.933594-31.359375-75.308594v-201.171875c0-11.734375 9.597656-21.332031 21.332031-21.332031 18.347656 0 33.921875 13.4375 36.695312 31.570312l16.636719 107.09375 160.214844-160c11.734375-11.730468 30.71875-11.730468 42.453125 0h.214844c11.09375 11.09375 11.730468 29.015625 1.707031 40.746094l19.410156-19.410156c6.402344-6.402344 15.148438-9.386719 23.683594-8.535156 7.039063.425781 13.652344 3.199218 18.984375 8.535156v.210937c11.734375 11.734375 11.734375 30.722657 0 42.453125zm0 0" fill="#ffffff"/>
          <path d="m288.46875 63.984375h-213.332031c-5.886719 0-10.667969-4.777344-10.667969-10.667969 0-5.886718 4.78125-10.664062 10.667969-10.664062h213.332031c5.890625 0 10.667969 4.777344 10.667969 10.664062 0 5.890625-4.757813 10.667969-10.667969 10.667969zm0 0" fill="#001F45"/>
          <path d="m117.804688 106.652344c-2.710938 0-5.441407-1.046875-7.53125-3.117188l-42.667969-42.664062c-4.160157-4.160156-4.160157-10.925782 0-15.085938l42.667969-42.664062c4.160156-4.160156 10.921874-4.160156 15.082031 0 4.160156 4.160156 4.160156 10.921875 0 15.082031l-35.136719 35.113281 35.117188 35.117188c4.160156 4.160156 4.160156 10.921875 0 15.082031-2.070313 2.089844-4.800782 3.136719-7.53125 3.136719zm0 0" fill="#001F45"/>
          <path d="m151.277344 511.984375c-31.296875 0-60.738282-12.183594-82.859375-34.324219l-33.558594-33.539062c-22.164063-22.183594-34.367187-51.644532-34.367187-82.984375v-201.152344c0-17.644531 14.355468-32 32-32 23.507812 0 43.753906 17.558594 47.0625 40.851563l13.523437 86.101562 145.238281-145.234375c15.894532-15.875 41.726563-15.875 57.621094 0 5.140625 5.117187 8.617188 11.261719 10.472656 17.769531 15.9375-12.160156 38.890625-10.945312 53.464844 3.625 16 16.023438 16 41.855469.125 57.75l-80.425781 80.425782c6.316406 1.855468 12.246093 5.269531 17.214843 10.21875 7.832032 7.808593 12.078126 18.070312 12.078126 28.929687 0 9.085937-2.945313 17.683594-8.363282 24.746094 6.484375 1.792969 12.5625 5.246093 17.621094 10.304687 7.828125 7.808594 12.074219 18.070313 12.074219 28.925782 0 10.902343-4.246094 21.121093-11.945313 28.824218l-88.128906 80.234375c-21.613281 19.691407-49.621094 30.527344-78.847656 30.527344zm-118.808594-362.667969c-5.886719 0-10.664062 4.800782-10.664062 10.667969v201.152344c0 25.621093 9.984374 49.75 28.117187 67.902343l33.558594 33.535157c18.132812 18.09375 42.195312 28.078125 67.796875 28.078125 23.914062 0 46.824218-8.855469 64.511718-24.960938l87.785157-79.871094c3.308593-3.308593 5.332031-8.195312 5.332031-13.378906s-2.023438-10.066406-5.695312-13.738281c-7.574219-7.550781-19.625-7.679687-27.21875-.445313l-1.28125 1.277344c-4.160157 4.140625-10.878907 4.160156-15.0625.023438-4.011719-3.992188-4.179688-10.371094-.511719-14.570313.148437-.195312.320312-.386719.492187-.535156l22.25-22.273437c3.667969-3.667969 5.695313-8.53125 5.695313-13.738282 0-5.203125-2.027344-10.066406-5.695313-13.738281-7.574218-7.550781-19.625-7.65625-27.222656-.46875l-22.632812 22.636719c-4.160157 4.160156-10.921876 4.160156-15.082032 0s-4.160156-10.925782 0-15.085938l22.25-22.269531c.171875-.171875.363282-.363281.53125-.511719l105.21875-105.21875c7.570313-7.550781 7.570313-19.902344 0-27.453125-7.703125-7.679687-20.011718-7.679687-27.585937-.128906l-128 128c-4.160157 4.160156-10.921875 4.160156-15.082031 0-2.089844-2.089844-3.113282-4.820313-3.113282-7.550781 0-2.730469 1.042969-5.464844 3.113282-7.554688l106.730468-106.730468c7.574219-7.550782 7.574219-19.902344 0-27.457032-7.703125-7.679687-20.011718-7.679687-27.582031-.125l-160.066406 160.0625c-2.835938 2.859375-7.039063 3.863282-10.835938 2.601563-3.820312-1.257813-6.613281-4.519531-7.234375-8.488281l-16.832031-106.988282c-1.855469-12.96875-13.011719-22.65625-25.984375-22.65625zm0 0" fill="#001F45"/>
        </svg>
    //- Contenido

    .pedidos-content
      .pedidos-content-item
        .pedidos-content-item-day
          span Lun.
          p 30 de Octubre
          .pedidos-content-item-day-icon.BtnMore
            .MenuRightClick
              .MenuRightClick-item
                span Cancelar día
              .MenuRightClick-item
                span Reactivar día
        .CardMenu
          .CardMenu-item
            .CardMenu-title
              .CardMenu-title-text
                img(src="/media/comidaYellow.svg", alt="icono de comida")
                span Desayuno
              .CardMenu-title-iconEdit
                img.BtnEdit(src="/media/iconEdit.svg", alt="icono de editar")
            .CardMenu-content
              p.CardMenu-content-text
                | Lorem Ipsum Lorem
          .CardMenu-item
            .CardMenu-title
              .CardMenu-title-text
                img(src="/media/comidaYellow.svg", alt="icono de comida")
                span Snack (Mañana)
              .CardMenu-title-iconEdit
                img.BtnEdit(src="/media/iconEdit.svg", alt="icono de editar")
            .CardMenu-content
              p.CardMenu-content-text
                | Lorem Ipsum Lorem
          .CardMenu-item
            .CardMenu-title
              .CardMenu-title-text
                img(src="/media/comidaYellow.svg", alt="icono de comida")
                span Almuerzo
              .CardMenu-title-iconEdit
                img.BtnEdit(src="/media/iconEdit.svg", alt="icono de editar")
            .CardMenu-content
              p.CardMenu-content-text
                | Lorem Ipsum Lorem
          .CardMenu-item
            .CardMenu-title
              .CardMenu-title-text
                img(src="/media/comidaYellow.svg", alt="icono de comida")
                span Snack (tarde)
              .CardMenu-title-iconEdit
                img.BtnEdit(src="/media/iconEdit.svg", alt="icono de editar")
            .CardMenu-content
              p.CardMenu-content-text
                | Lorem Ipsum Lorem
          .CardMenu-item
            .CardMenu-title
              .CardMenu-title-text
                img(src="/media/comidaYellow.svg", alt="icono de comida")
                span Cena
              .CardMenu-title-iconEdit
                img.BtnEdit(src="/media/iconEdit.svg", alt="icono de editar")
            .CardMenu-content
              p.CardMenu-content-text
                | Lorem Ipsum Lorem
        .BtnPedido
          a.BtnPedido-link(href="#")
            | Guardar Cambios
      .pedidos-content-item
        .pedidos-content-item-day
          span Mar.
          p 01 de Noviembre
          .pedidos-content-item-day-icon.BtnMore
            .MenuRightClick
              .MenuRightClick-item
                span Cancelar día
              .MenuRightClick-item
                span Reactivar día
        .CardMenu
          .CardMenu-item
            .CardMenu-title
              .CardMenu-title-text
                img(src="/media/comidaYellow.svg", alt="icono de comida")
                span Desayuno
              .CardMenu-title-iconEdit
                img.BtnEdit(src="/media/iconEdit.svg", alt="icono de editar")
            .CardMenu-content
              p.CardMenu-content-text
                | Lorem Ipsum Lorem
          .CardMenu-item
            .CardMenu-title
              .CardMenu-title-text
                img(src="/media/comidaYellow.svg", alt="icono de comida")
                span Snack (Mañana)
              .CardMenu-title-iconEdit
                img.BtnEdit(src="/media/iconEdit.svg", alt="icono de editar")
            .CardMenu-content
              p.CardMenu-content-text
                | Lorem Ipsum Lorem
          .CardMenu-item
            .CardMenu-title
              .CardMenu-title-text
                img(src="/media/comidaYellow.svg", alt="icono de comida")
                span Almuerzo
              .CardMenu-title-iconEdit
                img.BtnEdit(src="/media/iconEdit.svg", alt="icono de editar")
            .CardMenu-content
              p.CardMenu-content-text
                | Lorem Ipsum Lorem
          .CardMenu-item
            .CardMenu-title
              .CardMenu-title-text
                img(src="/media/comidaYellow.svg", alt="icono de comida")
                span Snack (tarde)
              .CardMenu-title-iconEdit
                img.BtnEdit(src="/media/iconEdit.svg", alt="icono de editar")
            .CardMenu-content
              p.CardMenu-content-text
                | Lorem Ipsum Lorem
          .CardMenu-item
            .CardMenu-title
              .CardMenu-title-text
                img(src="/media/comidaYellow.svg", alt="icono de comida")
                span Cena
              .CardMenu-title-iconEdit
                img.BtnEdit(src="/media/iconEdit.svg", alt="icono de editar")
            .CardMenu-content
              p.CardMenu-content-text
                | Lorem Ipsum Lorem
        .BtnPedido
          a.BtnPedido-link.is-disable(href="#")
            | Guardar Cambios
      .pedidos-content-item
        .pedidos-content-item-day
          span Mie.
          p 02 de Noviembre
          .pedidos-content-item-day-icon.BtnMore
            .MenuRightClick
              .MenuRightClick-item
                span Cancelar día
              .MenuRightClick-item
                span Reactivar día
        .CardMenu.is-canceled
          p Día cancelado
        .BtnPedido
          a.BtnPedido-link.is-disable(href="#")
            | Reactivar día
      .pedidos-content-item
        .pedidos-content-item-day
          span Jue.
          p 03 de Noviembre
          .pedidos-content-item-day-icon.BtnMore
            .MenuRightClick
              .MenuRightClick-item
                span Cancelar día
              .MenuRightClick-item
                span Reactivar día
        .CardMenu
          .CardMenu-item
            .CardMenu-title
              .CardMenu-title-text
                img(src="/media/comidaYellow.svg", alt="icono de comida")
                span Desayuno
              .CardMenu-title-iconEdit
                img.BtnEdit(src="/media/iconEdit.svg", alt="icono de editar")
            .CardMenu-content
              p.CardMenu-content-text
                | Lorem Ipsum Lorem
          .CardMenu-item
            .CardMenu-title
              .CardMenu-title-text
                img(src="/media/comidaYellow.svg", alt="icono de comida")
                span Snack (Mañana)
              .CardMenu-title-iconEdit
                img.BtnEdit(src="/media/iconEdit.svg", alt="icono de editar")
            .CardMenu-content
              p.CardMenu-content-text
                | Lorem Ipsum Lorem
          .CardMenu-item
            .CardMenu-title
              .CardMenu-title-text
                img(src="/media/comidaYellow.svg", alt="icono de comida")
                span Almuerzo
              .CardMenu-title-iconEdit
                img.BtnEdit(src="/media/iconEdit.svg", alt="icono de editar")
            .CardMenu-content
              p.CardMenu-content-text
                | Lorem Ipsum Lorem
          .CardMenu-item
            .CardMenu-title
              .CardMenu-title-text
                img(src="/media/comidaYellow.svg", alt="icono de comida")
                span Snack (tarde)
              .CardMenu-title-iconEdit
                img.BtnEdit(src="/media/iconEdit.svg", alt="icono de editar")
            .CardMenu-content
              p.CardMenu-content-text
                | Lorem Ipsum Lorem
          .CardMenu-item
            .CardMenu-title
              .CardMenu-title-text
                img(src="/media/comidaYellow.svg", alt="icono de comida")
                span Cena
              .CardMenu-title-iconEdit
                img.BtnEdit(src="/media/iconEdit.svg", alt="icono de editar")
            .CardMenu-content
              p.CardMenu-content-text
                | Lorem Ipsum Lorem
        .BtnPedido
          a.BtnPedido-link.is-disable(href="#")
            | Guardar Cambios
      .pedidos-content-item
        .pedidos-content-item-day
          span Vie.
          p 04 de Noviembre
          .pedidos-content-item-day-icon.BtnMore
            .MenuRightClick
              .MenuRightClick-item
                span Cancelar día
              .MenuRightClick-item
                span Reactivar día
        .CardMenu

        .BtnPedido
          a.BtnPedido-link(href="#")
            | Comprar más días

    //- Botones

    .pedidos-buttons
      .pedidos-buttons-wrapper.is-mobile
        .BtnPagination
          a(href="#").BtnPagination-link.is-rounded
              span.BtnPagination-link-text.is-hidden
                  | Semana
                  | anterior
              .BtnPagination-link-icon.left
        .BtnPagination
          a(href="#").BtnPagination-link.is-rounded
              span.BtnPagination-link-text.is-hidden
                  | Semana
                  | siguiente
              .BtnPagination-link-icon.right
      .BtnPagination.is-full
        a(href="#").BtnPagination-link.is-red
            span.BtnPagination-link-text
                | Confirmar
                | pedido