.perfil-content
  h2.TitlePerfil Datos personales

  form.FormPerfil(action="")
    .InputWrapper
      input.InputWrapper-input(type='text' placeholder='Nombres')
      label.InputWrapper-label Nombre del Receptor
    .InputWrapper
      input.InputWrapper-input(type='text' placeholder='Teléfono')
      label.InputWrapper-label Teléfono
    .InputWrapper
      input.InputWrapper-input(type='text' placeholder='Edad')
      label.InputWrapper-label Edad
    .view2-selectContainer
      select.view2-select(name='select')
          option(value='value1') Frecuencia de actividad física
          option(value='value2') Casi nunca
          option(value='value3') Ocasionalmente
          option(value='value4') Moderado
          option(value='value5') Intenso
          option(value='value6') Muy intenso
    .InputWrapper
      input.InputWrapper-input(type='text' placeholder='Peso (Kg.)')
      label.InputWrapper-label Peso (Kg.)
    .InputWrapper
      input.InputWrapper-input(type='text' placeholder='Estatura')
      label.InputWrapper-label Estatura



  .BtnPerfil
    a(href="#").BtnPerfil-link Guardar cambios