
.perfil-content.p3
    h2.TitlePerfil Método de pago
    form.FormPerfil(action="").perfil3

        //- Nombres
        .InputWrapper
            input.InputWrapper-input(type='text' placeholder='Nombres')
            label.InputWrapper-label Nombre

        //- Numero de tarjeta
        .perfil3-inputContainer.is-card
            .InputWrapper
                input.InputWrapper-input(type='text' placeholder='Teléfono')
                label.InputWrapper-label Número de tarjeta
            .InputIcon#iconMap
                img(src="/media/tarjeta.svg" alt="icono de mapa")
        //- Fecha de EXP y CVC
        .perfil3-inputsContainer
            .InputWrapper
                input.InputWrapper-input(type='text' placeholder='MM/AA')
                label.InputWrapper-label MM / AA
            .InputWrapper
                input.InputWrapper-input(type='text' placeholder='CVC/CVV')
                label.InputWrapper-label CVC/CVV
        .perfil3-inputCheckContainer
            input.plan3-inputCheckbox#tarjeta(type="checkbox")
            label(for="tarjeta") Registrar como tarjeta frecuente

        //- Titulo
        h2.TitlePerfil.perfil3 Renovación automática

        //- Inputs

        .perfil3-inputContainer
            input.perfil3-input(type="radio" name="perfil" id='renovar1')
            label.perfil3-label(for="renovar1") Sí, plan actual
            input.perfil3-input(type="radio" name="perfil" id='renovar2')
            label.perfil3-label(for="renovar2") No

    .BtnPerfil
        a(href="#").BtnPerfil-link Guardar cambios