.perfil-content.p2
    h2.TitlePerfil Datos de envío

    form.FormPerfil(action="").perfil2
        //- Direccion de Envio
        .InputWrapper
            input.InputWrapper-input(type='text' placeholder='direccion')
            label.InputWrapper-label Dirección de envío
        .InputWrapper
            input.InputWrapper-input(type='text' placeholder='interno')
            label.InputWrapper-label Num. Externo
        .InputWrapper
            input.InputWrapper-input(type='text' placeholder='externo')
            label.InputWrapper-label Num. Interno
        .InputWrapper
            input.InputWrapper-input(type='text' placeholder='Codigo postal')
            label.InputWrapper-label Codigo Postal

        //- Piso y Oficina
        .perfil2-selectContainer
            select.perfil2-select(name='select')
                option(value="" selected) Tipo de Domicilio
                option(value='1') Oficina
                option(value='2') Casa
                option(value='3') Departamento
        //- Comentario
        textarea(name="comentario",rows="4",placeholder="Observaciones: ( Ej: Dejar en recepción )")

        .perfil2-mapContainer

    .Button.is-mobile
        #Button.Button-link.is-gray
            span.Button-link-text
                | Ver mapa

    .Button.is-mobile
        #Button.Button-link.is-active
            span.Button-link-text
                | Guardar cambios