.planes
    .planes-wrapper.layoutContainer
        //- Contenido
        .plan4-content
            h2.TitlePlan.plan4 ¡Todo listo!

            .plan4-text Gracias por programar tus comidas con nosotros, revisa el resumen de tus pedidos para la próxima semana, recuerda que aún te quedan otros 5 días de pedidos disponibles.

            .Button.is-mobile
                #Button.Button-link.is-active
                    span.Button-link-text
                        | Ir a mis pedidos