.planes
    .planes-wrapper.layoutContainer
        //- Boton
        .planes-button
            //- .planes-button-icon
            p.planes-button-text Planes


        //- Contenido
        .plan1-content

            //- Titulo
            h2.TitlePlan Selecciona que comidas quieres que te enviemos

            //- Inputs
            form.plan1-form(action="#")
                .plan1-form-inputContainer
                    input.plan1-form-input(type="radio", name="Plan", id='soloComida')
                    label.plan1-form-label(for="soloComida")
                        .plan1-form-labelPlan
                            <p>
                            |Sólo
                            |comida
                            </p>
                        .plan1-form-labelContent.is-2-items
                            .plan1-form-labelItem.is-hidden
                            .plan1-form-labelPlus.is-hidden
                            .plan1-form-labelItem.is-hidden
                            .plan1-form-labelPlus.is-hidden
                            .plan1-form-labelItem
                                .plan1-form-labelItem-icon
                                .plan1-form-labelItem-text Comida
                            .plan1-form-labelPlus +
                            .plan1-form-labelItem
                                .plan1-form-labelItem-icon
                                .plan1-form-labelItem-text Snack (tarde)
                            .plan1-form-labelPlus.is-hidden
                            .plan1-form-labelItem.is-hidden


                    .plan1-form-text El precio aproximado es entre 340 y 400 pesos.
                .plan1-form-inputContainer
                    input.plan1-form-input(type="radio", name="Plan", id='diaCompleto')
                    label.plan1-form-label(for="diaCompleto")
                        .plan1-form-labelPlan
                            <p>
                            |Día
                            |completo
                            </p>
                        .plan1-form-labelContent.is-5-items
                            .plan1-form-labelItem.is-relleno
                            .plan1-form-labelItem
                                .plan1-form-labelItem-icon
                                .plan1-form-labelItem-text Desayuno
                            .plan1-form-labelPlus +
                            .plan1-form-labelItem
                                .plan1-form-labelItem-icon
                                .plan1-form-labelItem-text Snack (mañana)
                            .plan1-form-labelPlus.is-relleno +
                            .plan1-form-labelItem
                                .plan1-form-labelItem-icon
                                .plan1-form-labelItem-text Comida

                            .plan1-form-labelPlus +
                            .plan1-form-labelItem
                                .plan1-form-labelItem-icon
                                .plan1-form-labelItem-text Snack (tarde)
                            .plan1-form-labelPlus +
                            .plan1-form-labelItem
                                .plan1-form-labelItem-icon
                                .plan1-form-labelItem-text Cena
                    .plan1-form-text El precio aproximado es entre 340 y 400 pesos.

            //- Boton de Next
            .Button.is-mobile
                #Button.Button-link.is-active
                    span.Button-link-text
                        | Siguiente

