.planes.plan3
    .planes-wrapper.layoutContainer
        //- Boton
        .planes-button
            .planes-button-icon
            p.planes-button-text Planes


        //- Contenido
        .plan3-content

            //- Titulo
            h2.TitlePlan Selecciona método de pago

            //- Inputs

            .plan3-inputsContainer
                .InputWrapper.is-radio
                    input.plan3-input(type="radio", name="plan3", id='plan5',checked)
                    label.plan3-label(for="plan5") Tarjeta de crédito
                .InputWrapper.is-radio
                    input.plan3-input(type="radio", name="plan3", id='plan10')
                    label.plan3-label(for="plan10") Tarjeta de débito

            //- Titulo 2
            h2.TitlePlan Ingrese la información de su tarjeta

            //- Formulario
            form.plan3-form
                //- Nombres
                .InputWrapper
                    input.InputWrapper-input(type='text' placeholder='Nombre')
                    label.InputWrapper-label Nombre

                //- Numero de tarjeta
                .plan3-inputContainer.is-creditCard
                    .InputWrapper
                        input.InputWrapper-input(type='text' placeholder='Número de tarjeta')
                        label.InputWrapper-label Número de tarjeta
                    .InputIcon#iconMap
                        img(src="/media/tarjeta.svg", alt="icono de mapa")
                //- Fecha de EXP y CVC
                .plan3-inputsContainer
                    .InputWrapper
                        input.InputWrapper-input(type='text' placeholder='MM / AA')
                        label.InputWrapper-label MM / AA
                    .InputWrapper
                        input.InputWrapper-input(type='text' placeholder='CVC/CVV')
                        label.InputWrapper-label CVC/CVV
                .plan3-inputCheckContainer
                    input.plan3-inputCheckbox#tarjeta(type="checkbox")
                    label(for="tarjeta") Registrar como tarjeta frecuente

                //- Cupon de descuento

                .plan3-inputContainer.is-cupon
                    .InputWrapper
                        input.InputWrapper-input(type='text' placeholder='Cupón')
                        label.InputWrapper-label Cupón de descuento
                    .InputIcon#iconCupon

                //- Precio Final

                .plan3-textContainer
                    .plan3-textContainer-descuento
                        p Descuento
                        span (15%) - 1360 MXN
                    .plan3-textContainer-priceFinal
                        p Precio Final
                        span  5440 MXN



            //- Boton de Next


            .Button.is-mobile
                #Button.Button-link.is-active
                    span.Button-link-text
                        | Finalizar compra
            .Button.is-mobile.is-desktopHidden
                #Button.Button-link.is-gray
                    span.Button-link-text
                        | Atrás

