.planes.plan2
    .planes-wrapper.layoutContainer
        //- Boton
        .planes-button
            .planes-button-icon
            p.planes-button-text Planes


        //- Contenido
        .plan2-content

            //- Titulo
            h2.TitlePlan Seleciona cuántos días quieres comprar

            //- Inputs
            form.plan2-form(action="#")
                .plan2-form-inputContainer
                    input.plan2-form-input(type="radio", name="Plan2", id='plan5')
                    label.plan2-form-label(for="plan5")
                        .plan2-form-labelPlan
                            <p>
                            |Plan de
                            |5 días
                            </p>
                        .plan2-form-labelContent
                            span 2000 Pesos
                            p El costo por día es de 400 pesos. El plan está vigente por 3 semanas desde la compra.


                .plan2-form-inputContainer
                    input.plan2-form-input(type="radio", name="Plan2", id='plan10')
                    label.plan2-form-label(for="plan10")
                        .plan2-form-labelPlan
                            <p>
                            |Plan de
                            |10 días
                            </p>
                        .plan2-form-labelContent
                            span 3600 Pesos
                            p El costo por día es de 370 pesos (7.5% de descuento). El plan está vigente por 4 semanas desde la compra.
                .plan2-form-inputContainer
                    input.plan2-form-input(type="radio", name="Plan2", id='plan20')
                    label.plan2-form-label(for="plan20")
                        .plan2-form-labelPlan
                            <p>
                            |Plan de
                            |20 días
                            </p>
                        .plan2-form-labelContent
                            span 6800 Pesos
                            p El costo por día es de 340 pesos (15% de descuento). El plan está vigente por 8 semanas desde la compra.


            //- Boton de Next


            .Button.is-mobile
                #Button.Button-link.is-active
                    span.Button-link-text
                        | Comprar días
            .Button.is-mobile.is-desktopHidden
                #Button.Button-link.is-gray
                    span.Button-link-text
                        | Atrás

