.view2#view2
    //- Imagen
    .PictureRegister.is-mobile
        img(src='/media/how2.png' alt='imagen')

    //- Titulo
    h2.TitleRegister
        | Datos personales
    //- Formulario
    form.view2-inputs
        //- Hombre Mujer
        .view2-inputsContainer.is-radio
            input#Mujer.view2-inputRadio(name='Sexo' type='radio')
            label.view2-labelRadio(for='Mujer') Mujer
            input#Hombre.view2-inputRadio(name='Sexo' type='radio')
            label.view2-labelRadio(for='Hombre') Hombre
        //- Edad
        .InputWrapper
            input.InputWrapper-input(type='text' placeholder='Edad')
            label.InputWrapper-label Edad
        //- Estatura y Peso
        .view2-inputsContainer
            .InputWrapper
                input.InputWrapper-input(type='text' placeholder='Estatura (cm.)')
                label.InputWrapper-label Estatura (cm.)
            .InputWrapper
                input.InputWrapper-input(type='text' placeholder='Peso (Kg.)')
                label.InputWrapper-label Peso (Kg.)
        //- Select Frecuencia de Actividad Fisica
        .view2-selectContainer
            select.view2-select(name='select')
                option(value='value1') Frecuencia de actividad física
                option(value='value2') Casi nunca
                option(value='value3') Ocasionalmente
                option(value='value4') Moderado
                option(value='value5') Intenso
                option(value='value6') Muy intenso



    //- Boton de Continuar
    .view2-button
        include ../components/ButtonNext.pug
