.view3#view3

    //- Imagen
    .PictureRegister.is-mobile.is-view3
        img(src='/media/how2.png' alt='imagen')
    //- Titulo
    h2.TitleRegister
        | Información de entrega
    //- Formulario
    form.view3-inputs
        //- Nombres
        .InputWrapper
            input.InputWrapper-input(type='text' placeholder='Nombre')
            label.InputWrapper-label Nombre del Receptor
        //- Telefono
        .InputWrapper
            input.InputWrapper-input(type='number' placeholder='Teléfono')
            label.InputWrapper-label Teléfono
        //- Direccion de Envio
        .view3-inputContainer
            .InputWrapper.is-100
                input.InputWrapper-input(type='text' placeholder='Direccion')
                label.InputWrapper-label Dirección de envío
            .InputIcon#iconMap
                img(src="/media/iconMap.svg", alt="icono de mapa")
        .view3-inputsContainer.is-2rows
            .view3-inputContainer.is-50
                .InputWrapper.is-100.is-border
                    input.InputWrapper-input(type='number' placeholder='externo')
                    label.InputWrapper-label Num. Externo
            .view3-inputContainer.is-50
                .InputWrapper.is-100.is-border
                    input.InputWrapper-input(type='number' placeholder='interno')
                    label.InputWrapper-label Num. Interno
        //- Piso y Oficina
        .view3-inputsContainer.is-2rows
            .view3-inputContainer.is-50
                .InputWrapper.is-border.is-100
                    input.InputWrapper-input(type='text' placeholder='Codigo postal')
                    label.InputWrapper-label Codigo Postal
            .view3-selectContainer.is-50
                select.view3-select(name='select')
                    option(value="" selected) Tipo de Domicilio
                    option(value='1') Oficina
                    option(value='2') Casa
                    option(value='3') Departamento
        //- Comentario
        textarea.view3-textArea(name="comentario",rows="4",placeholder="Observaciones: ( Ej: Dejar en recepción )")

    //- Boton de Continuar
    .view3-button
        .Button.is-mobile.map
            #iconMapMobile.Button-link.is-gray
                span.Button-link-text
                    | Ver mapa

        include ../components/ButtonNext.pug