
.view1a#view1a

    //- Imagen
    .PictureRegister
        img(src='/media/check.png' alt='imagen')

    //- Titulo
    h2.TitleRegister.is-validated
        | Tu código ah sido validado <br> correctamente


    //- Boton de Continuar
    .view1-button
            include ../components/ButtonNext.pug
