.view1#view1


    //- Mensaje Informativo
    .view1-message
        p.view1-message-text Si no te ah llegado el código de seguridad en
            span  00:15

        button.view1-message-btn.active Reenviar Código

    //- Imagen
    .PictureRegister.is-mobile
        img(src='/media/how2.png' alt='imagen')

    //- Titulo
    h2.TitleRegister
        | Ingresa el código de seguridad
    //- Formulario
    form.view1-inputs
        input.view1-input(type='text')
        input.view1-input(type='text')
        input.view1-input(type='text')
        input.view1-input(type='text')
        input.view1-input(type='text')
        input.view1-input(type='text')
    //- Boton de Continuar
    .view1-button
        include ../components/ButtonNext.pug
