.view4#view4

    //- Imagen
    .PictureRegister.is-mobile
        img(src='/media/how2.png' alt='imagen')
    //- Formula dinamica
    .view4-textContainer
        p Javier, hemos analizado tu estilo de vida y tu índice de masa corporal es de <span>25.4</span>,el cual cae en el rango de sobrepeso.
        p.subtitle ¿Qué deseas hacer?


    //- Formulario
    form.view4-inputs
        //- Inputs del plan a elegir
        .view4-inputsContainer
            .view4-inputContainer
                input#primerplan.view4-inputRadio(name='Plan' type='radio')
                label.view4-labelRadio(for='primerplan')
                    | Subir de peso y ganar masa muscular
                .view4-iconCommend
                    img(src="/media/star.svg", alt="")
                    span Recomendado
            .view4-inputContainer
                input#segundoplan.view4-inputRadio(name='Plan' type='radio')
                label.view4-labelRadio(for='segundoplan')
                    | Mantener mi peso
                .view4-iconCommend
                    img(src="/media/star.svg", alt="")
                    span Recomendado
            .view4-inputContainer
                input#tercerplan.view4-inputRadio(name='Plan' type='radio')
                label.view4-labelRadio(for='tercerplan')
                    | Bajar de peso relativamente rápido
                .view4-iconCommend
                    img(src="/media/star.svg", alt="")
                    span Recomendado
            .view4-inputContainer
                input#cuartoplan.view4-inputRadio(name='Plan' type='radio')
                label.view4-labelRadio(for='cuartoplan')
                    | No tengo apuro, bajar de peso tranquilo
                .view4-iconCommend.is-active
                    img(src="/media/star.svg", alt="")
                    span Recomendado




    //- Boton de Continuar
    .view4-button
        include ../components/ButtonNext.pug
