.view5#view5

    //- Titulo
    h2.TitleRegister.view5Title
        | ¡Perfecto Javier!
    //- Texto
    .view5-textContainer
        p Para cumplir tu plan, te recomendamos consumir 1,500 calorías al día.
    //- Boton Ir a Planes
    .Button.is-mobile
        #Button.Button-link.is-active
            span.Button-link-text
                | Ir a planes

