.perfil {
  width: 100%;
  padding-top: 1rem;
  display:flex;
  align-items:center;
  position: relative;
  padding-right: 2rem;
  padding-left: 2rem;
  padding-top: 100px;



  @include from(lg){
    padding-top: 68px;
    padding-right: 0;
    padding-left: 0;
    min-height: 100vh;
  }




  &-wrapper {
    width: 100%;
    height: 100%;
    display: flex;
    justify-content: center;
    flex-direction: column;
    align-items: center;
    position: relative;
    @include from(lg){
      width: 70%;
      height: 480px;
      flex-direction: initial;
      justify-content: initial;
    }
  }



  &-content{
    width: 100%;
    height: 500px;
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    flex-direction: column;
    max-width: 400px;
    padding-top: 70px;

    &.p2{
      height: 650px;
      @include from(lg){
          height: 100%;
      }
    }
    &.p3{
      height: 700px;
      @include from(lg){
          height:100%;
          position: static;
      }
    }

    @include from(lg){
      width: 60%;
      justify-content: space-between;
      padding-top: 0;
      height: 100%;
    }
  }

}