.perfil3 {

  &-error{
    font-size: 9px;
    color: $color-red;
  }
  &-inputContainer {
    width: 100%;
    height: 100%;
    display: flex;
    justify-content: space-between;
    align-items: center;
    flex-direction: column;

    @include from(lg){
      flex-direction: row;
    }
    &.is-card{
      flex-direction: row;
    }

    & .InputWrapper {

      border-right: 0;
    }

    & .InputIcon {
      width: 50px;
      height: 100%;
      border: 1px solid $darkgray;
      border-left: 0;
      display: flex;
      justify-content: center;
      align-items: center;



    }


  }

  &-input {
    display: none;



    &:checked+label {
      background: $color-yellow;
      color: white;
    }
  }

  &-label {
    width: 100%;
    height: 40px;
    box-shadow: 3px 3px 6px $shadow;
    display: flex;
    justify-content: center;
    align-items: center;
    cursor: pointer;
    transition: background-color .2s, color .2s;
    color: $darkgray;
    font-size: var(--text-boton);
    font-weight: bold;

    @include from(lg){
      width: 48%;
      height: 50px;
    }

  }



  &-form {
    width: 100%;
    height: 210px;
    display: flex;
    justify-content: space-between;
    flex-direction: column;


  }


  &-inputCheckContainer {
    height: 100%;
    display: flex;
    font-weight: $light;

    & label {
      font-weight: 400;
      color: $darkgray;
      font-size: 10px;
      padding-top: 2px;
    }
  }

  &-inputCheckbox {
    margin-right: .5rem;
  }


  &-inputsContainer {
    width: 100%;
    display: flex;
    justify-content: space-between;
    flex-direction: column;
    height: 90px;

    @include from(lg){
        flex-direction: row;
        height: initial;
    }



    & .InputWrapper {
      width: 100%;

      @include from(lg){
        width: 48%;
      }
    }
  }
}