.perfil2 {


    &-mapContainer {
        display: none;

        @include from(lg) {
            display: initial;
            width: 100%;
            height: 100%;
            border: 1px solid $darkgray;
        }
    }


    &-inputs {
        width: 100%;
        height: 260px;
        display: flex;
        flex-direction: column;
        justify-content: space-between;
    }


    &-inputsContainer {
        display: flex;
        flex-direction: column;
        height: 90px;

        @include from(lg) {
            flex-direction: initial;
            height: 50px;
        }


    }

    &-inputContainer {
        width: 100%;
        height: 40px;
        display: flex;
        position: relative;

        @include from(lg) {
            height: 50px;
        }

        & .InputWrapper {
            border-right: 0;
        }
        & .InputWrapper.is-border {
            border-right: 1px solid $darkgray;
        }

        & .InputWrapper.is-100 {
            width: 100%;
        }

        & .error {
            font-size: 9px;
            color: $color-red;
            position: absolute;
            bottom: -12px;
            left: 0;

            @include from(lg){
                bottom: -12px;
            }
        }


        & .InputIcon {
            width: 50px;
            height: 100%;
            border: 1px solid $darkgray;
            border-left: 0;
            display: flex;
            justify-content: center;
            align-items: center;
            cursor: pointer;


        }

    }


    &-inputsContainer {
        display: flex;
        justify-content: space-between;
        height: 100%;

        @include from(lg) {
            height: 50px;
        }


        & .InputWrapper {
            width: 100%;
            height: 40px;

            @include from(lg) {
                width: 48%;
                height: 50px;
            }
        }
    }



    &-selectContainer {
        width: 100%;
        height: 40px;
        border: 1px solid $darkgray;
        position: relative;

        @include from(lg) {
            height: 50px;
        }



        &::before {
            content: '';
            width: 15px;
            height: 20px;
            position: absolute;
            top: 10px;
            right: .9rem;
            background: url(/media/iconDrop.svg) no-repeat center;
            background-size: contain;

            @include from(lg){
                top: 15px;
            }

        }
    }

    &-select {
        appearance: none;
        width: 100%;
        height: 100%;
        border: 0;
        background: none;
        padding-left: 12px;
        color: $darkgray;
        font-size: var(--text-boton);
        font-weight: $light;
    }

}