.BtnPagination{
  width: 45px;
  height: 45px;
  display:flex;
  justify-content:center;
  align-items:center;
  max-width: 400px;



  @include from(lg){
    width: 190px;
  }

  &.is-full{
    width: 100%;

    @include from(lg){
      width: 300px;
    }
  }



  &-link{

    width: 100%;
    height: 100%;
    font-size: 14px;
    font-weight: bold;
    text-align: center;
    display:flex;
    background-color: $white;
    box-shadow: 3px 3px 3px $gray;
    color: white;
    justify-content:center;
    align-items:center;
    transition: background-color .2s;

    &.is-rounded{
      border-radius: 50%;
      @include from(lg){
          border-radius: initial;
          box-shadow: initial;
          background-color: $color-yellow;
      }
    }

    &.is-red{
      background-color: $color-red;
      box-shadow: initial;

      &:hover{
        background: $color-yellow;
      }
    }

    &-text{




      &.is-hidden{
        display: none;

        @include from(lg){
            display:initial;
        }
      }
    }


    &-icon{
      width: 100%;
      height: 100%;
      background-repeat: no-repeat;

      @include from(lg){
          display:none;
      }

      &.left{
        background-image: url("/media/arrowLeft.svg");
        background-position: 50% 50%;
        background-size: 30px;
      }
      &.right{
        background-image: url("/media/arrowRight.svg");
        background-position: 55% 50%;
        background-size: 10px;
      }
    }

  }




}