.BtnPedido{
  width: 100%;
  height: 40px;

  @include from(lg){
    width: 190px;
  }


  &.is-modal{
    width: 250px;
  }

  &-link{
    width: 100%;
    height: 100%;
    font-weight: bold;
    font-size: 13px;
    background-color: $color-yellow;
    transition: background-color .2s;
    color: white;
    display:flex;
    justify-content:center;
    align-items:center;

    &.is-disable{
      background: $white;
      color: $gray;
    }
    &.is-gray{
      background: $gray;
    }
    &:hover{
      background-color: $color-red;
      color: white;
    }





  }


}