.CardMenu {
  width: 100%;
  height: 350px;
  background: $white;
  transition: background-color .2s, box-shadow .2s;
  position: relative;


  &.is-canceled {
    display: flex;
    justify-content: center;
    align-items: center;
    font-weight: $light;
    font-size: 14px;
    color: $gray;
    text-align: center;
    padding: 0 2rem;

  }


  &-item {
    width: 100%;
    height: 70px;
    padding: 0 9px 0 12px;




  }

  &-title {
    width: 100%;
    height: 30px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    border-bottom: 1px solid $gray;
    padding-left: 5px;

    &-text {
      width: 100%;
      height: 100%;
      display: flex;
      align-items: center;



      & img {
        width: 15px;
        height: 13px;

      }

      & span {
        padding-left: .5rem;
        font-weight: bold;
        color: $color-yellow;
        font-size: 12px;
        cursor: default;
      }

    }


    &-iconEdit {
      width: 30px;
      height: 100%;
      display: flex;
      justify-content: center;
      align-items: center;
      cursor: pointer;


      & img{
        padding: 7px;
        width: 100%;
        height: 100%;
      }





    }
  }

  &-content {
    width: 100%;
    height: 40px;
    display: flex;
    align-items: center;


    &-photo {
      width: 29px;
      height: 100%;
      display: flex;
      align-items: center;

    }

    &-text {
      padding-left: .5rem;
      color: $darkgray;
      font-size: 12px;
      font-weight: $light;
      cursor: default;
    }
  }
}