.MenuRightClick{
  position: absolute;
  width: 100px;
  height: 60px;
  z-index: $z-fixed;
  top: 100%;
  left: -89px;
  display: none;


  @include from(lg){
      left: 0;
  }

  &.is-active{
    display: block;
  }



  &-item{
    width: 100%;
    height: 30px;
    box-shadow: 1px 1px 2px $shadow;





    & span{
      display: flex;
      width: 100%;
      height: 100%;
      justify-content: center;
      align-items: center;
      color: $darkgray;
      cursor: pointer;
      background-color: $white;
      font-weight: $light;
      font-size: 10px;


      &:hover{
        background-color: white;
        font-weight: bold;
      }


    }
  }
}