.ModalEdit {
  position: fixed;
  top: 0;
  left: 0;
  background-color: $bg-modal;
  width: 100vw;
  height: 100vh;
  z-index: $z-fixed;
  display: flex;
  justify-content: center;
  align-items: center;
  transition: opacity .2s;


  &.is-hidden{
    transform: translateX(-100vw);
    opacity: 0;
  }


  &-wrapper {
    width: 270px;
    height: 485px;
    background: white;
    position: relative;
    padding-right: 1rem;
    padding-left: 1rem;
    padding-bottom: 10px;
    padding-top: 10px;
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    flex-direction: column;
    box-shadow: 3px 3px 6px $shadow;

    @include from(m){
      width: 482px;
      height: 510px;
      padding-right: 41px;
      padding-left: 41px;
      justify-content: center;
    }
  }

  &-close {
    width: 14px;
    height: 14px;
    position: absolute;
    top: 1rem;
    right: 1rem;
    cursor: pointer;
    display: flex;
    justify-content: center;
    align-items: center;

  }

  &-title {
    display: flex;
    justify-content: center;
    align-items: center;
    padding-bottom: 15px;

    &-icon {
      width: 22px;
    }

    &-text {
      font-weight: bold;
      color: $color-yellow;
      font-size: 18px;
      padding-left: .5rem;
    }

  }

  &-forms {
    width: 235px;
    height: 302px;

    @include from(m){
      width: 400px;
      height: 302px;
    }

  }

  &-input {
    display: none;


    &:checked+label{
      background: $color-yellow;
      color: white;
    }
  }

  &-label {
    width: 100%;
    height: 100px;
    display: flex;
    box-shadow: 1px 1px 3px $shadow;
    padding: 10px;
    color: $darkgray;
    transition: background-color .2s , color .2s;
    cursor: pointer;


    &-photo{
      min-width: 113px;
      height: 80px;
    }

    &-content{
      padding-right: 8px;
      padding-left: 8px;

      &-subtitle{
        padding-bottom: 4px;
        font-weight: bold;
        color:inherit;
        font-size: 14px;
        display: flex;
        justify-content: space-between;

        & h3{
          font-size: 14px;
        }

        & div{
          width: 30px;
          display:flex;
          justify-content:space-between;
          align-items:center;

        }
      }

      & p{
        font-size: 14px;
        font-weight: 300;
        color:inherit;
        line-height: 16px;
      }
    }
  }

  &-checkboxContainer {
    height: 26px;
    display: flex;
    align-items: center;
    align-self: flex-start;

  }

  &-checkbox{
    height: 100%;
  }

  &-checkboxLabel{
    padding-left: .3rem;
    font-size: 10px;
    font-weight: 300;
    color: $darkgray;

  }

  &-btn{
    margin-top: 1rem;
    width: 250px;
    height: 50px;
    transition: transform .1s;



    &:active{
      transform: translateY(2px);
    }

    &-link{
      width: 100%;
      height: 100%;
      color: $darkgray;
      background: $color-gris;
      font-size: 13px;
      font-weight: bold;
      display:flex;
      justify-content:center;
      align-items:center;

    }
  }
}