.ModalPedido {
  top: 0;
  position: fixed;
  width: 100vw;
  height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
  background: $bg-modal;
  z-index: $z-modal;
  transition: opacity .2s;

  &.is-hidden{
    transform: translateX(-100vw);
    opacity: 0;
  }



  &-content {
    background: white;
    width: 300px;
    height: 300px;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    position: relative;
    padding: 0 1.5rem;
  }

  &-close{
    width: 15px;
    height: 15px;
    position: absolute;
    top: 1rem;
    right: 1rem;
    cursor: pointer;

  }

  &-text {


    font-family: $font-family-secondary;
    font-size: 14px;
    color: $color-blue;
    font-weight: $light;
    text-align: center;
    margin-bottom: 1rem;

  }
}