.Buttons {
    position: fixed;
    width: 100vw;
    height: rem(50px);
    bottom: 0;
    left: 0;
    display: flex;
    z-index: $z-tooltip;

    @include from(lg){
        display:none;
    }


    &-wrapper {
        width: 100%;
        height: rem(50px);
        display: flex;
        align-items: center;
        justify-content: center;
        border: none;


        &:first-child {
            background-color: $white;
            color: $darkgray;
        }

        &:last-child {
            background-color: $color-red;
            color: white;
        }
    }

    &-link {
        width: 100%;
        height: rem(50px);
        display: flex;
        justify-content: center;
        align-items: center;
        color: inherit;


        & span {
            padding-left: .5rem;
        }
    }
}
