.Dropdown{
    width: 100%;
    height: auto;

    @include from(lg){
        position: relative;
        left: 0;
        width: 654px;
        box-shadow: 3px 3px 6px $shadow;

    }

    &-container{
        box-shadow: 3px 0 6px $shadow;
        @include from(lg){
            box-shadow: 3px 3px 6px $shadow;
        }
    }


    &-title{
        color: $darkgray;
        font-size: var(--text-1);
        font-weight: bold;
        padding: 16px 20px 16px 37px;
        display: flex;
        justify-content: space-between;
        cursor: pointer;

        & img{
            margin-left: 50px;
        }


        @include from(lg){
            padding: 26px 51px 19px 116px;
        }
    }

    &-content{
        display: none;
        font-weight: $light;
        font-size: var(--text-1);
        padding: 0 40px 20px 37px ;
        color: $darkgray;
        cursor: default;

        @include from(lg){
            padding: 0 116px 20px 104px;
        }

    }




}
