.Form {
    background: white;
    width: 100%;
    height: 100%;
    padding: 2rem 1rem;
    display: none;

    @include from(lg) {
        position: absolute;
        right: 1rem;
        width: 450px;
        height: 566px;
        display: flex;
        flex-direction: column;
        align-items: center;
        padding: 0 2rem;
        box-shadow: 3px 3px 6px $shadow;
    }


    &-title {

        width: 100%;
        height: 10%;
        font-size: var(--title);
        font-family: $font-family-secondary;
        padding: 0 1rem;

        @include from(lg) {

            padding: 0;
            color: $color-blue;
            line-height: 46px;
        }


        & span {
            color: $color-red;
        }
    }

    &-content {

        width: 100%;
        height: 90%;
        padding: 1rem;




        &-social {

            width: 100%;
            height: 20%;
            display: flex;
            justify-content: space-between;
            flex-direction: column;



            &-label {
                color: $darkgray;
                text-align: center;
                font-size: var(--text-1);

                @include from(lg) {
                    font-weight: $light;
                }
            }

            &-buttons {

                width: 100%;
                height: 2.5rem;
                color: white;
                display: flex;

                @include from(lg) {
                    height: 3rem;
                }


            }

            &-button {
                width: 100%;
                height: 100%;
                border: 0;
                cursor: pointer;

                &:first-child {
                    margin-right: 1rem;
                    background: #3554A4;
                    color: white;
                }

                &:last-child {
                    background: $white;
                    color: $darkgray;
                }

                & a {
                    width: 100%;
                    height: 100%;
                    display: flex;
                    justify-content: center;
                    align-items: center;

                    & img {
                        width: 25px;
                        height: 25px;



                    }

                    & span {
                        display: none;



                        @include from(lg) {
                            display: block;
                            font-size: var(--text-boton);
                            font-weight: bold;
                            margin-left: .5rem;
                        }


                    }

                }
            }
        }

        &-data {

            width: 100%;
            height: 80%;
            display: flex;
            justify-content: space-evenly;
            align-items: center;
            flex-direction: column;


            & label {
                color: $darkgray;
                font-size: var(--text-1);

                @include from(lg) {
                    font-weight: $light;
                }
            }

            &-input {
                width: 350px;
                height: 50px;
                border: 1px solid $gray;
                padding: 0 1rem;
                outline: 0;
                font-size: var(--text-1);


                &::placeholder{
                    font-size: var(--text-1);
                    color: $darkgray;
                    font-weight: $light;
                }


            }

            &-submit {
                width: 350px;
                height: 50px;
                background-color: $color-red;
                color: white;
                border: none;

                cursor: pointer;

                @include from(lg) {
                    height: 50px;
                    font-size: var(--text-boton);

                }

                &:hover {
                    background-color: $color-yellow;
                }
            }

            &-login {
                width: 100%;
                display: flex;
                justify-content: flex-start;
                align-items: center;
                font-size: var(--text-1);



                & span {
                    padding-right: 1rem;
                    font-size: var(--text-1);

                    @include from(lg) {

                        padding-right: 1.8rem;
                        font-weight: $light;
                        color: $darkgray;
                    }
                }

                & a {
                    color: $color-blue;
                    font-weight: bold;
                    font-size: var(--text-1);
                    border-bottom: 2px solid $color-blue;
                    line-height: 16px;
                }

            }

            &-checkbox {
                width: 100%;
                display: flex;
                justify-content: flex-start;
                align-items: center;
                font-size: var(--text-1);

                & input {

                }

                & label {
                    padding-left: .5rem;
                    font-size: var(--text-2);

                    @include from(lg) {

                        padding-left: .5rem;
                        font-weight: 300;


                    }

                    & span {
                        border-bottom: 2px solid $darkgray;
                        cursor: pointer;
                        font-weight: 500;
                        color: $darkgray;
                    }
                }

            }
        }
    }
}
