.ModalTerminos{
  width: 100vw;
  height: 100vh;
  position: fixed;
  top: 0;
  left: -100vw;
  z-index: $z-modal-2;
  background-color: rgba($color: #000000, $alpha: 0.8);
  display:flex;
  justify-content:center;
  align-items:center;
  padding-right: 1rem;
  padding-left: 1rem;
  opacity: 0;
  transition: opacity .2s;


  &.is-show{
    opacity: 1;
    left: 0;
  }





  &-wrapper{
    width: 100%;
    height: 400px;
    background-color: white;
    padding: 1rem;
    max-width: 600px;
    position: relative;



  }

  &-close{
    position: absolute;
    width: 20px;
    height: 20px;
    top: .5rem;
    right: .5rem;
    background-image: url(/media/close.svg);
    background-repeat: no-repeat;
    background-position: center;
    display:flex;
    justify-content:center;
    align-items:center;
    display:flex;
    justify-content:center;
    align-items:center;
    cursor: pointer;


  }

  &-title{
    text-align: center;
    padding: 1rem 0;
    color: $color-blue;
    width: 100%;
    height: 20%;
  }

  &-content{
    width: 100%;
    height: 80%;
    border: 2px solid $darkgray;
    border-radius: 5px;
    padding: 1rem;

    &-text{
      width: 100%;
      height: 100%;
      overflow: auto;
      word-break: break-word;
      font-size: 14px;
      color: $darkgray;


      & p{
        white-space: pre-line;
      }

    }


  }
}