.Modal {
    position: fixed;
    width: 100vw;
    height: calc(100vh - 50px);
    background: rgba($color: #000000, $alpha: .38);
    top: 0;
    left: -100vw;
    bottom: 0;
    z-index: $z-modal;
    display: flex;
    justify-content: center;
    align-items: center;
    opacity: 0;
    transition: opacity .2s;
    padding: 0 1rem;
    @include from(s){
        padding: .5rem 1rem;
    }



    &.is-show{
        opacity: 1;
        left: 0;
    }

    &-form {
        background: white;
        width: 100%;
        height: auto;
        padding: 2rem 3rem;
        display:flex;
        justify-content:center;
        align-items:center;
        flex-direction: column;
        position: relative;

        @include from(s){
            padding: 2rem;
            height: 100%;
        }

        &-close{
            position: absolute;
            top: 1rem;
            right: 1rem;

            & img{
                width: 14px;
                height: 14px;
            }
        }


        &-title {
            font-size: var(--title);
            font-family: $font-family-secondary;
            color: $color-blue;

            & span {
                color: $color-red;
            }
        }


        &-content{
            width: 100%;
            height: 100%;





            &-social{

                text-align: center;

                &-label{
                    font-size: var(--text-1);
                    font-weight: 300;
                    color: $darkgray;
                    display: block;
                    padding: 12px 0;

                    @include from(s){
                        padding: 6px 0;
                    }

                }

                &-buttons{
                    display:flex;
                    justify-content:space-between;
                    align-items:center;


                }
                &-button{
                    width: 100%;
                    height: 40px;
                    border: none;
                    @include from(s){
                        height: 35px;
                    }


                    & a{
                        width: 100%;
                        height: 100%;
                        display:flex;
                        justify-content:center;
                        align-items:center;

                    }


                    &:first-child{
                        background: #3554A4;
                        margin-right: .5rem;
                    }

                    &:last-child{
                        background: $white;
                        margin-left: .5rem;
                    }
                }

            }


            &-data{
                width: 100%;

                &-label{
                    font-size: var(--text-1);
                    font-weight: 300;
                    color: $darkgray;
                    padding: 12px 0;
                    display: block;
                    text-align: center;
                    @include from(s){
                        padding: 6px 0;
                    }

                }

                &-input{
                    width: 100%;
                    height: 40px;
                    border: 1px solid $darkgray;
                    font-size: var(--text-1);
                    color: $darkgray;
                    font-weight: 300;
                    padding-left: .5rem;
                    margin-bottom: 12px;
                    @include from(s){
                        margin-bottom: 6px;
                        height: 35px;
                    }
                }

                &-submit{
                    width: 100%;
                    height: 40px;
                    background: $color-red;
                    color: white;
                    border: none;
                    font-size: var(--text-boton);

                    @include from(lg){
                        height: 35px;
                    }
                }

                &-login{
                    padding-top: 12px;
                    width: 100%;
                    font-size: var(--text-1);

                    @include from(s){
                        padding-top: 6px;
                    }

                    & span{
                        font-weight: 300;
                        padding-right: .5rem;
                        color: $darkgray;
                    }

                    & a{
                        color: $color-blue;
                        font-weight: 500;
                        border-bottom: 2px solid $color-blue;

                    }
                }

                &-checkbox{
                    width: 100%;
                    font-size: var(--text-2) ;
                    padding-top: 22px;
                    display: flex;
                    justify-content: flex-start;
                    align-items: center;

                    @include from(s){
                        padding-top: 5px;
                    }


                    & input{



                    }

                    & label{

                        color: $darkgray;
                        padding-left: .2rem;




                        & span{
                            border-bottom: 1px solid $darkgray;
                        }
                    }
                }
            }
        }
    }

}
