.Nav {
    position: fixed;
    top: 0;
    left: -100vw;
    z-index: $z-fixed;
    width: 100vw;
    height: 100vh;
    background: var(--color-header);
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
    color: $color-blue;
    padding-right: 2rem;
    padding-left: 2rem;
    opacity: 0;
    transition: opacity .2s;

    @include from(lg) {
        position: static;
        width: 80%;
        height: 35px;
        opacity: 1;
        padding-right: 0;
        padding-left: 0;
        background: transparent;




    }

    &.is-active {
        left: 0;
        opacity: 1;
    }

    &-list {
        width: 100%;
        height: 100%;
        display: flex;
        justify-content: center;
        align-items: center;
        flex-direction: column;
        position: relative;

        @include from(lg) {
            flex-direction: row;
            justify-content: flex-end;

        }

        &.active{
            color: $color-red;
        }
    }

    &-close {
        align-self: flex-end;
        position: absolute;
        right:0;
        top: 3rem;

        @include from(lg) {
            display: none;
        }

    }

    &-item {
        font-size: em(20px);
        display: flex;
        justify-content: center;
        align-items: center;
        position: relative;



        @include from(lg) {
            font-size: em(16px);
            width: auto;
            height: 100%;

        }

    }

    &-link {
        width: 100%;
        height: 100%;
        display: flex;
        justify-content: center;
        align-items: center;
        padding:1rem;
        font-size: var(--title);
        font-weight: 500;
        transition: color .2s;

        &.plan{
            color: $darkgray;
        }


        &:hover{
            color: $color-red;
        }
        &.is-white:hover{
            color: white;
        }



        @include from(lg){
            font-size: var(--text-boton); 
        }

        &.active{
            color: $color-red;
        }

        &-icon{

            @include from(lg){
                width: 17px;
                height: 17px;
                background-image: url('/media/iconLoginDesktop.svg');
                background-repeat: no-repeat;
            }

        }



        & span {
            padding-left: .5rem;
        }


    }



    &-buttons {
        width: 100%;

        @include from(lg) {
            display: none;
        }

        & .Buttons-wrapper {
            margin-top: 1rem;
        }

    }

}
