.SliderBen {
    width: 100%;
    position: relative;

    @include from(lg) {
        height: 100%;
    }





    &-picture {
        width: 100%;
        height: 170px;


        @include from(lg) {
            width: 629px;
            height: 100%;
            position: absolute;
            right: 0;
            top: 0;
            display: flex;
            align-items: center;

        }

        & img {
            width: 100%;
            height: 100%;

            @include from(lg) {
                height: 388px;
            }
        }

    }

    &-content {
        width: 100%;
        height: 208px;
        display: flex;
        overflow-x: auto;
        overflow-y: hidden;



        @include from(lg) {
            width: 410px;
            height: 100%;
            position: absolute;
            left: 0;
            top: 3rem;
            align-items: center;
        }


        &-item {
            width: 100%;
            height: 100%;
            padding: 16px 22px 20px 22px;
            margin-right: .5rem;
            background: white;
            color: $darkgray;
            display: flex;
            justify-content: space-evenly;
            align-items: center;
            flex-direction: column;


            @include from(lg) {
                width: 410px;
                height: 255px;
                box-shadow: 3px 3px 6px $shadow;
                padding: 16px 58px 20px 69px;
                border: 1px solid $white;
            }






            & span {
                font-size: var(--subtitle);
                padding-bottom: 1rem;
            }

            & p {
                font-size: var(--text-1);
                font-weight: $light;
            }
        }

    }



}
