.SliderHow {
    display: none;

    @include from(lg) {

        display: grid;
        grid-template-columns: repeat(3, 200px);
        grid-gap: 2rem 8rem;
        justify-content: center;
        padding-top: 3rem;
    }




    &-item {
        min-width: 100%;
        height: 260px;
        display: flex;
        flex-direction: column;
        justify-content: space-between;
        align-items: center;
        flex: 0 0 195px;







        &-picture {
            width: 181px;
            height: 206px;
            display: flex;
            justify-content: center;
            align-items: center;


        }


        &-content {
            width: 200px;
            height: 53px;
            display: flex;
            justify-content: space-around;
            align-items: center;




            & span {
                font-size: 60px;
                font-weight: bold;
                color: $gray;
            }

            & p {
                width: 154px;
                color: $darkgray;
                font-size: var(--text-1);
                font-weight: $light;
                & b{
                    font-weight: bold;
                }
            }

        }

    }




}
