.SliderTes-item {
    height: 100%;
    display: grid;
    background: white;
    padding: 1.2rem;
    box-shadow: 3px 0 6px $shadow;
    border: 1px solid $white;
    grid-template-columns: 78px 1fr 52px;
    grid-template-rows: 78px 141px 30px;
    grid-template-areas: 'perfil perfil perfil'
        'text text text''social social social';



    @include from(lg) {
        grid-template-areas: 'perfil perfil social'
            'text text text''text text text';
        height: 264px;
        padding: 1.5rem;
        grid-row-gap: 1.2rem;
    }


    &-perfil {
        width: 100%;
        height: 100%;
        grid-area: perfil;
        display: flex;

        @include from(lg) {
            padding-left: 1.5rem;
        }


        &-img {
            width: 78px;
            height: 78px;


            & img {
                height: 100%;
            }
        }


        &-user {
            padding-left: 1rem;
            display: flex;
            justify-content: center;
            flex-direction: column;

            &-name {
                font-size: var(--text-1);
                color: $darkgray;
            }

            &-date {
                font-size: var(--text-1);
                font-weight: 300;
                color: $darkgray;
            }
        }

    }


    &-text {
        width: 100%;
        height: 100%;
        grid-area: text;
        display:flex;
        justify-content:center;
        align-items:center;


        @include from(lg) {
            padding: 0 .8rem;
            align-items:flex-start;
        }

        & p {
            font-size: var(--text-1);
            font-weight: $light;
            line-height: 16px;
            color: $darkgray;
        }
    }

    &-social {
        width: 100%;
        height: 100%;
        grid-area: social;
        display: flex;

        align-items: center;

        @include from(lg) {
            justify-content: flex-end;
        }


        & img:first-child {
            padding-right: 1rem;
        }
    }

}
