.Toggler {
    width: 1.5rem;
    height: 1rem;
    display: flex;
    justify-content: space-between;
    align-items: center;
    flex-direction: column;
    cursor: pointer;


    &-line {
        width: 100%;
        height: em(2px);
        background-color: $color-red;

    }
}
