

.pagos{
  width: 100%;
  height: 550px;
  min-height: 100vh;
  display:flex;
  justify-content:center;
  align-items:center;
  padding-top: 50px;


  @include from(lg){
      padding-top: 68px;

  }



  &-wrapper{
    width: 100%;
    height: 100%;
    display:flex;
    align-items:center;
    flex-direction: column;
    padding: 50px 0;
    max-width: 400px;

    @include from(lg){
        justify-content:center;
        padding: 0;
        max-width: 990px;
    }

  }


  &-title{


      width: 100%;
      padding-top: 1rem;
      padding-bottom: 1rem;
      font-weight: bold;
      font-size: 20px;
      color: $color-blue;
      font-family: $font-family-secondary;
      text-align: center;

      @include from(m){
        padding-top: 2rem;
        padding-bottom: 2rem;
      }

      @include from(lg){
          text-align: left;
          padding-top: 1rem;
          padding-bottom: 1rem;
      }


  }

  &-content{
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    @include from(lg){
        height: 440px;
        justify-content: initial;
    }


    &-caption{
      display: none;


      @include from(lg){
        width: 80%;
        height: 50px;
        display: grid;
        grid-template-columns: 1fr 1fr 1fr 1fr 1.2fr;
        align-items: center;
        justify-items: center;
      }

      & p{
        color: $color-red;
        font-weight: bold;
        font-family: $font-family-secondary;
        cursor: default;


        &:nth-child(4){
          justify-self: start;
          padding-left: 1.5rem;
        }
        &:nth-child(5){
          margin-left: 10px;
        }
      }
    }

  }

  &-buttons{
    display: none;

    @include from(lg){
      padding-top: 10px;
      width: 173px;
      display:flex;
      justify-content:space-between;
      align-items:flex-end;
    }

    &-text{
      color: $darkgray;
      font-size: 14px;
      font-weight: bold;
      padding-bottom: 13px;
    }
  }

}