.questions-title{

    @include from(lg){

        text-align: left;
    }
}


.how-carousel-mobile{
    @include from(lg){
        display: none !important;
    }
}




.SliderBen-content{
    @include from(lg){
        width: 410px !important;
    }
}
