.m {

    @for $i from 1 through 5 {
        &-#{$i} {
            margin: #{$i}rem;
        }
    }

    &-t {


        @for $i from 1 through 5 {
            &-#{$i} {
                margin-top: #{$i}rem;
            }
        }
    }

    &-b {


        @for $i from 1 through 5 {
            &-#{$i} {
                margin-bottom: #{$i}rem;
            }
        }
    }

    &-r {


        @for $i from 1 through 5 {
            &-#{$i} {
                margin-right: #{$i}rem;
            }
        }
    }

    &-l {


        @for $i from 1 through 5 {
            &-#{$i} {
                margin-left: #{$i}rem;
            }
        }
    }
}
