.p {

  @for $i from 0 through 5 {
    &-#{$i} {
      padding: #{$i}rem;
    }
  }

  &-t {


    @for $i from 0 through 5 {
      &-#{$i} {
        padding-top: #{$i}rem;
      }
    }
  }
  &-b {


    @for $i from 0 through 5 {
      &-#{$i} {
        padding-bottom: #{$i}rem;
      }
    }
  }
  &-r {


    @for $i from 0 through 5 {
      &-#{$i} {
        padding-right: #{$i}rem;
      }
    }
  }
  &-l {


    @for $i from 0 through 5 {
      &-#{$i} {
        padding-left: #{$i}rem;
      }
    }
  }
}