<div class="loaderContainer">
  <div class="loader">
    <svg class='circle' viewbox='0 0 100 100'>
        <circle cx='50' cy='50' r='40' stroke='red' fill='#fff' stroke-dasharray='300' stroke-dashoffset='250' stroke-width='5' />
    </svg>
    <svg class="logo" viewBox="0 0 45.964 89.867">
      <g transform="translate(-1089.848 -1923.539)">
        <circle cx="11.285" cy="11.285" r="11.285" transform="translate(1113.241 1954.5)" fill="#ff3600"/>
        <path d="M857.265,1329.391c-1.417-9.92-13.175-14.091-16.884-24.331-.2-.516-.37-1.043-.518-1.582-.021-.078-.041-.156-.061-.236a19.645,19.645,0,0,1-.525-4.587,16.744,16.744,0,0,1,16.706-16.307c.1,0,.2.013.3.014-1.271-.6-12.474-5.568-22.928.062-11.1,5.977-14.718,19.354-10.674,29.461,5.123,12.81,24.338,29.462,23.483,34.585C846.163,1346.47,858.972,1341.347,857.265,1329.391Z" transform="translate(268.772 666.936)" fill="#ff3600"/>
        <path d="M858.677,1261.968a17.618,17.618,0,0,0-18.606,10.522,11.743,11.743,0,0,0-15.4-2.186,17.8,17.8,0,0,0,13.969,10.429,16.477,16.477,0,0,0,4.312.042,17.794,17.794,0,0,0,15.781-17.675C858.734,1262.719,858.7,1262.345,858.677,1261.968Z" transform="translate(269.813 661.736)" fill="#ff3600"/>
      </g>
    </svg>
  </div>

</div>