nav.NavRegister
    .NavRegister-wrapper
        .NavRegister-logo
            a(href='/index.html')
                img(src='/media/logoRegister.svg' alt='logo sanahoria')
        ul.NavRegister-list
            li.NavRegister-item
                a.NavRegister-link(href='#').is-active
                    p.NavRegister-link-text#navRegisterText1
                        | Ingresa el código de seguridad que
                        | enviamos a
                        | tu correo electrónico
                        br
                        |  Lorem IpsumLorem IpsumLorem Ipsum
                    .NavRegister-link-icon#navRegisterIcon1 1
            li.NavRegister-item
                a.NavRegister-link(href='#')
                    p.NavRegister-link-text#navRegisterText2
                        | Nuestras zonas de reparto son: Lorem Ipsum,
                        | Lorem
                        | Ipsum, Lorem Ipsum, Lorem Ipsum, Lorem Ipsum, Lorem Ipsum
                    .NavRegister-link-icon#navRegisterIcon2 2
            li.NavRegister-item
                a.NavRegister-link(href='#')
                    p.NavRegister-link-text#navRegisterText3
                        | Lorem ipsum dolor sit amet, consectetuer
                        | adipiscing
                        | elit, sed diam nonummy nibh euismod tincidunt .
                    .NavRegister-link-icon#navRegisterIcon3 3
            li.NavRegister-item
                a.NavRegister-link(href='#')
                    p.NavRegister-link-text#navRegisterText4
                        | Lorem ipsum dolor sit amet, consectetuer
                        | adipiscing
                        | elit, sed diam nonummy nibh euismod tincidunt .
                    .NavRegister-link-icon#navRegisterIcon4 4
            li.NavRegister-item
                a.NavRegister-link(href='#')
                    p.NavRegister-link-text#navRegisterText5
                        | Lorem ipsum dolor sit amet, consectetuer
                        | adipiscing
                        | elit, sed diam nonummy nibh euismod tincidunt .
                    .NavRegister-link-icon#navRegisterIcon5 5
