.TitlePlan{
    color: $color-blue;
    font-size: 14px;
    font-weight: bold;
    font-family: $font-family-secondary;
    text-align: center;

    @include from(lg){
        font-size: 20px;
    }


    &.plan4{
        font-size: 20px;
        @include from(lg){
            font-size: 40px;
        }
    }
}
