<!DOCTYPE html>
<html lang="es">

<head>
    <title>J C R | Frontend Boilerplate</title>
    <meta charset="utf-8">
    <meta name="viewport" content="initial-scale=1,width=device-width">
    <meta name="twitter:card" content="summary_large_image">
    <meta name="twitter:site" content="@jcjripa">
    <meta property="og:title" content="Home">
    <meta property="og:description" content="Pagina inicial de JCRBoilerplate">

    <link rel="stylesheet" href="/css/main.min.css">

</head>

<body class='container' id="container">
    //-- Fixed Elements -->
    <div class="Buttons" id="Buttons">
        <button class="Buttons-wrapper">
            <div class='Buttons-link'>
                <img class='targetBtn' src="/media/iconLoginMobile.svg" alt="icon login">
                <span class="targetBtn">Entrar</span>
            </div>
        </button>
        <button class="Buttons-wrapper">
            <div href="#" id='registerBtn' class='Buttons-link'>Regístrate</div>
        </button>
    </div>
    //- Start Modal Terminos y condiciones
    .ModalTerminos#modalTerminos
        .ModalTerminos-wrapper
            .ModalTerminos-close
            h3.ModalTerminos-title Términos y Condiciones: Entrega del Pedido
            .ModalTerminos-content
                .ModalTerminos-content-text
                    <p>
                        | La entrega del pedido es gratuita y será en el domicilio señalado, en donde el cliente elegirá si será personalmente o en recepción/vigilancia,  el repartidor sólo esperará durante 5 minutos a partir el anuncio de llegada, pasado el tiempo el repartidor se irá. Si quieres solicitar nuevamente tu pedido éste tendrá un cobro adicional ya que no estaba programado.
                        |
                        | En caso de que la entrega del pedido exceda demasiado tiempo debido a motivos extraordinarios, tales como accidentes de tránsito, desastres naturales, sismos, etc.. la empresa queda exenta de responsabilidad por incumplimiento del servicio. Sin embargo, el cliente podrá reprogramar su pedido para otra fecha, sin costo adicional.
                        |
                        | En caso de que el cliente tenga una emergencia y no pueda recibir el pedido, hacer el comunicado al siguiente número <span>000000000</span> para reprogramar su pedido.
                        |
                        | Los cambios de dirección sólo se podrán hacer hasta las 9 PM del día anterior.
                    </p>




    //- End Modal terminos y condiciones
    //-- Start Modal -->
    <div class="Modal" id="modal">
        <div class="Modal-form">
            <div class="Modal-form-close"><img class="close" src="/media/close.svg" alt=""></div>
            <h2 class="Modal-form-title">Alimenta tu cuerpo <span>sana</span>mente</h2>
            <form action="#" class="Modal-form-content">
                <div class="Modal-form-content-social">
                    <span class="Modal-form-content-social-label">
                        |Regístrate con
                    </span>
                    <div class="Modal-form-content-social-buttons">
                        <button class="Modal-form-content-social-button"><a href="#"><img src="/media/facebook.svg" alt="facebook icon"></a></button>
                        <button class="Modal-form-content-social-button"><a href="#"><img src="/media/gmail.svg" alt="gmail icon"></a></button>
                    </div>
                </div>
                <div class="Modal-form-content-data">
                    <label class='Modal-form-content-data-label' for="email">o continúa con</label>
                    <input class='Modal-form-content-data-input' type="email" placeholder="Correo electrónico" id="emailModal">
                    <input class='Modal-form-content-data-input' type="password" placeholder="Contraseña">
                    <input class="Modal-form-content-data-submit" type="submit" value="Regístrate">
                    <div class="Modal-form-content-data-login">
                        <span>¿Tienes una cuenta?</span>
                        <a href="#">Inicia Sesión</a>
                    </div>
                    <div class='Modal-form-content-data-checkbox'>
                        <input type="checkbox" id="checkboxModal">
                        <label for="checkboxModal">Acepto <span id="btnTerminosM">términos y condiciones</span></label>
                    </div>
                </div>
            </form>
        </div>
    </div>

    //-- End Fixed Element -->
    //-- Start Home -->
    <div class="container-site">
        //-- Start Header -->
        <header class="header" id="header">
            <div class="header-wrapper layoutContainer">
                //-- Start Logo -->
                <a href="#">
                    <picture class="header-logo">
                        <source srcset="/media/logo.svg" media="(min-width: 62em)">
                        <img src="/media/logov.svg" alt="logo sanahoria">
                    </picture>
                </a>
                //-- End Logo -->
                //-- Start Toggler -->
                <div class="header-toggler">
                    <span class="Toggler" id="Toggler">
                        <span class="Toggler-line"></span>
                        <span class="Toggler-line"></span>
                        <span class="Toggler-line"></span>
                </div>
                //-- End Toggler -->
                //-- Start Menu -->
                <nav class='Nav' id='Nav'>
                    <ul class='Nav-list'>
                        //-- Start Close Button -->
                        <div class="Nav-close" id="navClose"><img class='iconClose' src="/media/iconClose.svg" alt="icon close"></div>
                        //-- End Close Button -->

                        <li class='Nav-item'><a class='Nav-link' id="link-1" href='#how'>¿Cómo funciona?</a></li>
                        <li class='Nav-item'><a class='Nav-link' id="link-2" href='#benefits'>Beneficios</a></li>
                        <li class='Nav-item'><a class='Nav-link' id="link-3" href='#testimonials'>Testimonios</a></li>
                        <li class='Nav-item'><a class='Nav-link' id="link-4" href='#questions'>Preg. frecuentes</a></li>

                        //-- Start Buttons Login and Register -->
                        <div class='Button is-home'>
                            <a class='Button-link delete-right-1-home home' href='planes.html'>
                                <div class='Button-link-icon home'></div>
                                <span class='Button-link-text'>Entrar</span>
                            </a>
                        </div>
                        <div class='Button  is-home'>
                            <a class='Button-link delete-left-1-home  home' href='registro.html'>
                                <span class='Button-link-text'>Registrate</span>
                            </a>
                        </div>
                        //-- End Buttons Login and Register -->
                        //-- Start Buttons Fixeds in Mobile -->
                        <div class="Nav-buttons">
                            <button class="Buttons-wrapper">
                                <a class='Buttons-link' href="planes.html">
                                    <img src="/media/iconLoginMobile.svg" alt="icon login">
                                    <span>Entrar</span>
                                </a>
                            </button>
                            <button class="Buttons-wrapper">
                                <a class='Buttons-link' href="registro.html">Regístrate</a>
                            </button>
                        </div>
                        //-- End Buttons Fixeds in Mobile -->
                    </ul>

                </nav>
                //-- End Menu -->
            </div>
        </header>
        //-- End Header -->
        <div class='banner'>
            <div class="banner-wrapper layoutContainer">
                <div class="Form">
                    <h1 class="Form-title">Alimenta tu cuerpo <span>sana</span>mente</h1>
                    <form action="#" class="Form-content">
                        <div class="Form-content-social">
                            <span class="Form-content-social-label">Regístrate con</span>
                            <div class="Form-content-social-buttons">
                                <button class="Form-content-social-button"><a href="#"><img src="/media/facebook.svg" alt="facebook icon"><span>Facebook</span></a></button>
                                <button class="Form-content-social-button"><a href="#"><img src="/media/gmail.svg" alt="gmail icon"><span>Gmail</span></a></button>
                            </div>
                        </div>
                        <div class="Form-content-data">
                            <label class='Form-content-data-label' for="email">o continúa con</label>
                            <input class='Form-content-data-input' type="email" placeholder="Correo electrónico" id="email">
                            <input class='Form-content-data-input' type="password" placeholder="Contraseña">
                            <input class="Form-content-data-submit" type="submit" value="Regístrate">
                            <div class="Form-content-data-login">
                                <span>¿Tienes una cuenta?</span>
                                <a href="#">Inicia Sesión</a>
                            </div>
                            <div class='Form-content-data-checkbox'>
                                <input type="checkbox" id="checkbox">
                                <label for="checkbox">Acepto <span id="btnTerminosD">términos y condiciones</span></label>
                            </div>
                        </div>
                    </form>
                </div>

            </div>
        </div>
        //-- Productos -->
        <div class="products">
            <div class="products-wrapper layoutContainer">
                <div class="products-item">
                    <div class="products-item-icon">
                        <img src="/media/iconProduct.svg" alt="icono de producto">
                    </div>
                    <div class="products-item-title">
                        <p>Producto 1</p>
                    </div>
                    <div class="products-item-text">
                        <p>Lorem ipsum dolor sit amet, consectetuer adipiscing elit, sed diam nonummy nibh euismod
                            |tincidunt ut laoreet dolore magna aliquam erat volutpat. Ut wisi enim ad minim veniam, quis
                            |nostrud exerci tation ullamcorper suscipit lobortis nisl ut aliquip ex ea commodo consequat.
                            |Duis autem vel eum iriure dolor in hendrerit in vulputate velit esse molestie.</p>
                    </div>
                </div>
                <div class="products-item">
                    <div class="products-item-icon">
                        <img src="/media/iconProduct.svg" alt="icono de producto">
                    </div>
                    <div class="products-item-title">
                        <p>Producto 1</p>
                    </div>
                    <div class="products-item-text">
                        <p>Lorem ipsum dolor sit amet, consectetuer adipiscing elit, sed diam nonummy nibh euismod
                            |tincidunt ut laoreet dolore magna aliquam erat volutpat. Ut wisi enim ad minim veniam, quis
                            |nostrud exerci tation ullamcorper suscipit lobortis nisl ut aliquip ex ea commodo consequat.
                            |Duis autem vel eum iriure dolor in hendrerit in vulputate velit esse molestie.</p>
                    </div>
                </div>
                <div class="products-item">
                    <div class="products-item-icon">
                        <img src="/media/iconProduct.svg" alt="icono de producto">
                    </div>
                    <div class="products-item-title">
                        <p>Producto 1</p>
                    </div>
                    <div class="products-item-text">
                        <p>Lorem ipsum dolor sit amet, consectetuer adipiscing elit, sed diam nonummy nibh euismod
                            |tincidunt ut laoreet dolore magna aliquam erat volutpat. Ut wisi enim ad minim veniam, quis
                            |nostrud exerci tation ullamcorper suscipit lobortis nisl ut aliquip ex ea commodo consequat.
                            |Duis autem vel eum iriure dolor in hendrerit in vulputate velit esse molestie.</p>
                    </div>
                </div>
            </div>

        </div>
        //-- Como Funciona  -->
        <div class="how" id="how">
            <div class="how-wrapper layoutContainer">
                <h2 class="Title">¿Cómo funciona?</h2>
                <div class="SliderHow">
                    <div class="SliderHow-item">
                        <div class="SliderHow-item-picture">
                            <img src="/media/how1.png" alt="">
                        </div>
                        <div class="SliderHow-item-content">
                            <span>1</span>
                            <p><b>Lorem ipsum dolor sit.</b>consectetuer adipiscing elit, sed diam nonummy.</p>
                        </div>
                    </div>
                    <div class="SliderHow-item">
                        <div class="SliderHow-item-picture">
                            <img src="/media/how1.png" alt="">
                        </div>
                        <div class="SliderHow-item-content">
                            <span>2</span>
                            <p><b>Lorem ipsum dolor sit.</b>consectetuer adipiscing elit, sed diam nonummy.</p>
                        </div>
                    </div>
                    <div class="SliderHow-item">
                        <div class="SliderHow-item-picture">
                            <img src="/media/how1.png" alt="">
                        </div>
                        <div class="SliderHow-item-content">
                            <span>3</span>
                            <p><b>Lorem ipsum dolor sit.</b>consectetuer adipiscing elit, sed diam nonummy.</p>
                        </div>
                    </div>
                    <div class="SliderHow-item">
                        <div class="SliderHow-item-picture">
                            <img src="/media/how1.png" alt="">
                        </div>
                        <div class="SliderHow-item-content">
                            <span>4</span>
                            <p><b>Lorem ipsum dolor sit.</b>consectetuer adipiscing elit, sed diam nonummy.</p>
                        </div>
                    </div>
                    <div class="SliderHow-item">
                        <div class="SliderHow-item-picture">
                            <img src="/media/how1.png" alt="">
                        </div>
                        <div class="SliderHow-item-content">
                            <span>5</span>
                            <p><b>Lorem ipsum dolor sit.</b>consectetuer adipiscing elit, sed diam nonummy.</p>
                        </div>
                    </div>
                    <div class="SliderHow-item">
                        <div class="SliderHow-item-picture">
                            <img src="/media/how1.png" alt="">
                        </div>
                        <div class="SliderHow-item-content">
                            <span>6</span>
                            <p><b>Lorem ipsum dolor sit.</b>consectetuer adipiscing elit, sed diam nonummy.</p>
                        </div>
                    </div>


                </div>
                <div id='owl-one' class="owl-carousel owl-theme how-carousel-mobile">
                    <div class="item">
                        <div class="SliderHow-item">
                            <div class="SliderHow-item-picture">
                                <img src="/media/how1.png" alt="">
                            </div>
                            <div class="SliderHow-item-content">
                                <span>1</span>
                                <p><b>Lorem ipsum dolor sit.</b>consectetuer adipiscing elit, sed diam nonummy.</p>
                            </div>
                        </div>
                    </div>
                    <div class="item">
                        <div class="SliderHow-item">
                            <div class="SliderHow-item-picture">
                                <img src="/media/how1.png" alt="">
                            </div>
                            <div class="SliderHow-item-content">
                                <span>2</span>
                                <p><b>Lorem ipsum dolor sit.</b>consectetuer adipiscing elit, sed diam nonummy.</p>
                            </div>
                        </div>
                    </div>
                    <div class="item">
                        <div class="SliderHow-item">
                            <div class="SliderHow-item-picture">
                                <img src="/media/how1.png" alt="">
                            </div>
                            <div class="SliderHow-item-content">
                                <span>3</span>
                                <p><b>Lorem ipsum dolor sit.</b>consectetuer adipiscing elit, sed diam nonummy.</p>
                            </div>
                        </div>
                    </div>
                    <div class="item">
                        <div class="SliderHow-item">
                            <div class="SliderHow-item-picture">
                                <img src="/media/how1.png" alt="">
                            </div>
                            <div class="SliderHow-item-content">
                                <span>4</span>
                                <p><b>Lorem ipsum dolor sit.</b>consectetuer adipiscing elit, sed diam nonummy.</p>
                            </div>
                        </div>
                    </div>
                    <div class="item">
                        <div class="SliderHow-item">
                            <div class="SliderHow-item-picture">
                                <img src="/media/how1.png" alt="">
                            </div>
                            <div class="SliderHow-item-content">
                                <span>5</span>
                                <p><b>Lorem ipsum dolor sit.</b>consectetuer adipiscing elit, sed diam nonummy.</p>
                            </div>
                        </div>
                    </div>
                    <div class="item">
                        <div class="SliderHow-item">
                            <div class="SliderHow-item-picture">
                                <img src="/media/how1.png" alt="">
                            </div>
                            <div class="SliderHow-item-content">
                                <span>6</span>
                                <p><b>Lorem ipsum dolor sit.</b>consectetuer adipiscing elit, sed diam nonummy.</p>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        //-- Start Beneficios  -->
        <div class="benefits" id="benefits">
            <div class="benefits-wrapper layoutContainer">
                <h2 class="Title">Beneficios</h2>
                <div class="SliderBen">
                    <div class="SliderBen-picture">
                        <img src="/media/bghow.png" alt="">
                    </div>
                    <div id='owl-two' class="owl-carousel owl-theme SliderBen-content">
                        <div class="SliderBen-content-item item">
                            <span><b>Lorem Ipsum</b></span>
                            <p>Lorem ipsum dolor sit amet, consectetuer adipiscing elit, sed diam nonummy nibh
                                |euismod
                                |tincidunt ut laoreet dolore magna aliquam erat volutpat. Ut wisi enim ad minim
                                |veniam,
                                |quis nostrud exerci tation ullamcorper suscipit lobortis nisl ut aliquip ex ea
                                |commodo
                                |consequat. Duis autem vel eum iriure dolor in hendrerit in vulputate velit esse
                                |molestie.</p>
                        </div>
                        <div class="SliderBen-content-item item">
                            <span><b>Lorem Ipsum</b></span>
                            <p>Lorem ipsum dolor sit amet, consectetuer adipiscing elit, sed diam nonummy nibh
                                |euismod
                                |tincidunt ut laoreet dolore magna aliquam erat volutpat. Ut wisi enim ad minim
                                |veniam,
                                |quis nostrud exerci tation ullamcorper suscipit lobortis nisl ut aliquip ex ea
                                |commodo
                                |consequat. Duis autem vel eum iriure dolor in hendrerit in vulputate velit esse
                                |molestie.</p>
                        </div>
                        <div class="SliderBen-content-item item">
                            <span><b>Lorem Ipsum</b></span>
                            <p>Lorem ipsum dolor sit amet, consectetuer adipiscing elit, sed diam nonummy nibh
                                |euismod
                                |tincidunt ut laoreet dolore magna aliquam erat volutpat. Ut wisi enim ad minim
                                |veniam,
                                |quis nostrud exerci tation ullamcorper suscipit lobortis nisl ut aliquip ex ea
                                |commodo
                                |consequat. Duis autem vel eum iriure dolor in hendrerit in vulputate velit esse
                                |molestie.</p>
                        </div>
                        <div class="SliderBen-content-item item">
                            <span><b>Lorem Ipsum</b></span>
                            <p>Lorem ipsum dolor sit amet, consectetuer adipiscing elit, sed diam nonummy nibh
                                |euismod
                                |tincidunt ut laoreet dolore magna aliquam erat volutpat. Ut wisi enim ad minim
                                |veniam,
                                |quis nostrud exerci tation ullamcorper suscipit lobortis nisl ut aliquip ex ea
                                |commodo
                                |consequat. Duis autem vel eum iriure dolor in hendrerit in vulputate velit esse
                                |molestie.</p>
                        </div>
                        <div class="SliderBen-content-item item">
                            <span><b>Lorem Ipsum</b></span>
                            <p>Lorem ipsum dolor sit amet, consectetuer adipiscing elit, sed diam nonummy nibh
                                |euismod
                                |tincidunt ut laoreet dolore magna aliquam erat volutpat. Ut wisi enim ad minim
                                |veniam,
                                |quis nostrud exerci tation ullamcorper suscipit lobortis nisl ut aliquip ex ea
                                |commodo
                                |consequat. Duis autem vel eum iriure dolor in hendrerit in vulputate velit esse
                                |molestie.</p>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        //-- Start Testimonios -->
        <div class="testimonials" id="testimonials">
            <div class="testimonials-wrapper layoutContainer">
                <h2 class="Title">Testimonios</h2>
                <div id='owl-three' class="owl-carousel owl-theme">
                    <div class="item">
                        <div class="SliderTes-item">
                            <div class="SliderTes-item-perfil">
                                <div class="SliderTes-item-perfil-img">
                                    <img src="/media/persona.png" alt="user">
                                </div>
                                <div class="SliderTes-item-perfil-user">
                                    <p class="SliderTes-item-perfil-user-name"><b>Lorem Ipsum Dolor</b></p>
                                    <p class="SliderTes-item-perfil-user-date">24 de marzo, 2019</p>
                                </div>
                            </div>
                            <div class="SliderTes-item-text">
                                <p>Lorem ipsum dolor sit amet, consectetuer adipiscing elit, sed diam nonummy nibh
                                    |euismod tincidunt ut laoreet dolore magna aliquam erat volutpat. Ut wisi enim ad
                                    |minim veniam, quis nostrud exerci tation ullamcorper suscipit lobortis nisl ut
                                    |aliquip ex ea commodo consequat. Duis autem vel eum iriure dolor in hendrerit in
                                    |vulputate velit esse molestie.
                                </p>
                            </div>
                            <div class="SliderTes-item-social">
                                <img src="/media/facebookTes.svg" alt="">
                                <img src="/media/instagramTes.svg" alt="">
                            </div>
                        </div>
                    </div>
                    <div class="item">
                        <div class="SliderTes-item">
                            <div class="SliderTes-item-perfil">
                                <div class="SliderTes-item-perfil-img">
                                    <img src="/media/persona.png" alt="user">
                                </div>
                                <div class="SliderTes-item-perfil-user">
                                    <p class="SliderTes-item-perfil-user-name"><b>Lorem Ipsum Dolor</b></p>
                                    <p class="SliderTes-item-perfil-user-date">24 de marzo, 2019</p>
                                </div>
                            </div>
                            <div class="SliderTes-item-text">
                                <p>Lorem ipsum dolor sit amet, consectetuer adipiscing elit, sed diam nonummy nibh
                                    |euismod tincidunt ut laoreet dolore magna aliquam erat volutpat. Ut wisi enim ad
                                    |minim veniam, quis nostrud exerci tation ullamcorper suscipit lobortis nisl ut
                                    |aliquip ex ea commodo consequat. Duis autem vel eum iriure dolor in hendrerit in
                                    |vulputate velit esse molestie.
                                </p>
                            </div>
                            <div class="SliderTes-item-social">
                                <img src="/media/facebookTes.svg" alt="">
                                <img src="/media/instagramTes.svg" alt="">
                            </div>
                        </div>
                    </div>
                    <div class="item">
                        <div class="SliderTes-item">
                            <div class="SliderTes-item-perfil">
                                <div class="SliderTes-item-perfil-img">
                                    <img src="/media/persona.png" alt="user">
                                </div>
                                <div class="SliderTes-item-perfil-user">
                                    <p class="SliderTes-item-perfil-user-name"><b>Lorem Ipsum Dolor</b></p>
                                    <p class="SliderTes-item-perfil-user-date">24 de marzo, 2019</p>
                                </div>
                            </div>
                            <div class="SliderTes-item-text">
                                <p>Lorem ipsum dolor sit amet, consectetuer adipiscing elit, sed diam nonummy nibh
                                    |euismod tincidunt ut laoreet dolore magna aliquam erat volutpat. Ut wisi enim ad
                                    |minim veniam, quis nostrud exerci tation ullamcorper suscipit lobortis nisl ut
                                    |aliquip ex ea commodo consequat. Duis autem vel eum iriure dolor in hendrerit in
                                    |vulputate velit esse molestie.
                                </p>
                            </div>
                            <div class="SliderTes-item-social">
                                <img src="/media/facebookTes.svg" alt="">
                                <img src="/media/instagramTes.svg" alt="">
                            </div>
                        </div>
                    </div>
                    <div class="item">
                        <div class="SliderTes-item">
                            <div class="SliderTes-item-perfil">
                                <div class="SliderTes-item-perfil-img">
                                    <img src="/media/persona.png" alt="user">
                                </div>
                                <div class="SliderTes-item-perfil-user">
                                    <p class="SliderTes-item-perfil-user-name"><b>Lorem Ipsum Dolor</b></p>
                                    <p class="SliderTes-item-perfil-user-date">24 de marzo, 2019</p>
                                </div>
                            </div>
                            <div class="SliderTes-item-text">
                                <p>Lorem ipsum dolor sit amet, consectetuer adipiscing elit, sed diam nonummy nibh
                                    |euismod tincidunt ut laoreet dolore magna aliquam erat volutpat. Ut wisi enim ad
                                    |minim veniam, quis nostrud exerci tation ullamcorper suscipit lobortis nisl ut
                                    |aliquip ex ea commodo consequat. Duis autem vel eum iriure dolor in hendrerit in
                                    |vulputate velit esse molestie.
                                </p>
                            </div>
                            <div class="SliderTes-item-social">
                                <img src="/media/facebookTes.svg" alt="">
                                <img src="/media/instagramTes.svg" alt="">
                            </div>
                        </div>
                    </div>
                    <div class="item">
                        <div class="SliderTes-item">
                            <div class="SliderTes-item-perfil">
                                <div class="SliderTes-item-perfil-img">
                                    <img src="/media/persona.png" alt="user">
                                </div>
                                <div class="SliderTes-item-perfil-user">
                                    <p class="SliderTes-item-perfil-user-name"><b>Lorem Ipsum Dolor</b></p>
                                    <p class="SliderTes-item-perfil-user-date">24 de marzo, 2019</p>
                                </div>
                            </div>
                            <div class="SliderTes-item-text">
                                <p>Lorem ipsum dolor sit amet, consectetuer adipiscing elit, sed diam nonummy nibh
                                    |euismod tincidunt ut laoreet dolore magna aliquam erat volutpat. Ut wisi enim ad
                                    |minim veniam, quis nostrud exerci tation ullamcorper suscipit lobortis nisl ut
                                    |aliquip ex ea commodo consequat. Duis autem vel eum iriure dolor in hendrerit in
                                    |vulputate velit esse molestie.
                                </p>
                            </div>
                            <div class="SliderTes-item-social">
                                <img src="/media/facebookTes.svg" alt="">
                                <img src="/media/instagramTes.svg" alt="">
                            </div>
                        </div>
                    </div>
                    <div class="item">
                        <div class="SliderTes-item">
                            <div class="SliderTes-item-perfil">
                                <div class="SliderTes-item-perfil-img">
                                    <img src="/media/persona.png" alt="user">
                                </div>
                                <div class="SliderTes-item-perfil-user">
                                    <p class="SliderTes-item-perfil-user-name"><b>Lorem Ipsum Dolor</b></p>
                                    <p class="SliderTes-item-perfil-user-date">24 de marzo, 2019</p>
                                </div>
                            </div>
                            <div class="SliderTes-item-text">
                                <p>Lorem ipsum dolor sit amet, consectetuer adipiscing elit, sed diam nonummy nibh
                                    |euismod tincidunt ut laoreet dolore magna aliquam erat volutpat. Ut wisi enim ad
                                    |minim veniam, quis nostrud exerci tation ullamcorper suscipit lobortis nisl ut
                                    |aliquip ex ea commodo consequat. Duis autem vel eum iriure dolor in hendrerit in
                                    |vulputate velit esse molestie.
                                </p>
                            </div>
                            <div class="SliderTes-item-social">
                                <img src="/media/facebookTes.svg" alt="">
                                <img src="/media/instagramTes.svg" alt="">
                            </div>
                        </div>
                    </div>
                </div>
            </div>

        </div>
        //-- Start Preg. Frecuentes -->
        <div class="questions" id="questions">
            <div class="questions-wrapper layoutContainer">
                <div class="questions-image">
                    <img src="/media/pregfuecuentes.svg" alt="images de preguntas frecuentes">
                </div>
                <h2 class="Title questions-title">Preguntas Frecuentes</h2>
                <div class="Dropdown">
                    <div class="Dropdown-container">
                        <h3 class="Dropdown-title">¿Lorem ipsum dolor sit amet,
                            |consectetuer adipiscing? <img src="/media/iconDrop.svg" alt="icon Arrow"></h3>
                        <p class="Dropdown-content">Lorem ipsum dolor sit amet, consectetuer adipiscing elit, sed diam
                            |nonummy nibh euismod tincidunt ut laoreet dolore magna aliquam erat volutpat. Ut wisi enim
                            |ad minim veniam, quis nostrud exerci tation ullamcorper suscipit lobortis nisl ut aliquip ex
                            |ea commodo consequat. Duis autem vel eum iriure dolor in hendrerit in vulputate velit esse
                            |molestie.</p>
                    </div>
                    <div class="Dropdown-container">
                        <h3 class="Dropdown-title">¿Lorem ipsum dolor sit amet,
                            |consectetuer adipiscing? <img src="/media/iconDrop.svg" alt="icon Arrow"></h3>
                        <p class="Dropdown-content">Lorem ipsum dolor sit amet, consectetuer adipiscing elit, sed diam
                            |nonummy nibh euismod tincidunt ut laoreet dolore magna aliquam erat volutpat. Ut wisi enim
                            |ad minim veniam, quis nostrud exerci tation ullamcorper suscipit lobortis nisl ut aliquip ex
                            |ea commodo consequat. Duis autem vel eum iriure dolor in hendrerit in vulputate velit esse
                            |molestie.</p>
                    </div>
                    <div class="Dropdown-container">
                        <h3 class="Dropdown-title">¿Lorem ipsum dolor sit amet,
                            |consectetuer adipiscing? <img src="/media/iconDrop.svg" alt="icon Arrow"></h3>
                        <p class="Dropdown-content">Lorem ipsum dolor sit amet, consectetuer adipiscing elit, sed diam
                            |nonummy nibh euismod tincidunt ut laoreet dolore magna aliquam erat volutpat. Ut wisi enim
                            |ad minim veniam, quis nostrud exerci tation ullamcorper suscipit lobortis nisl ut aliquip ex
                            |ea commodo consequat. Duis autem vel eum iriure dolor in hendrerit in vulputate velit esse
                            |molestie.</p>
                    </div>
                    <div class="Dropdown-container">
                        <h3 class="Dropdown-title">¿Lorem ipsum dolor sit amet,
                            |consectetuer adipiscing? <img src="/media/iconDrop.svg" alt="icon Arrow"></h3>
                        <p class="Dropdown-content">Lorem ipsum dolor sit amet, consectetuer adipiscing elit, sed diam
                            |nonummy nibh euismod tincidunt ut laoreet dolore magna aliquam erat volutpat. Ut wisi enim
                            |ad minim veniam, quis nostrud exerci tation ullamcorper suscipit lobortis nisl ut aliquip ex
                            |ea commodo consequat. Duis autem vel eum iriure dolor in hendrerit in vulputate velit esse
                            |molestie.</p>
                    </div>
                    <div class="Dropdown-container">
                        <h3 class="Dropdown-title">¿Lorem ipsum dolor sit amet,
                            |consectetuer adipiscing? <img src="/media/iconDrop.svg" alt="icon Arrow"></h3>
                        <p class="Dropdown-content">Lorem ipsum dolor sit amet, consectetuer adipiscing elit, sed diam
                            |nonummy nibh euismod tincidunt ut laoreet dolore magna aliquam erat volutpat. Ut wisi enim
                            |ad minim veniam, quis nostrud exerci tation ullamcorper suscipit lobortis nisl ut aliquip ex
                            |ea commodo consequat. Duis autem vel eum iriure dolor in hendrerit in vulputate velit esse
                            |molestie.</p>
                    </div>
                    <div class="Dropdown-container">
                        <h3 class="Dropdown-title">¿Lorem ipsum dolor sit amet,
                            |consectetuer adipiscing? <img src="/media/iconDrop.svg" alt="icon Arrow"></h3>
                        <p class="Dropdown-content">Lorem ipsum dolor sit amet, consectetuer adipiscing elit, sed diam
                            |nonummy nibh euismod tincidunt ut laoreet dolore magna aliquam erat volutpat. Ut wisi enim
                            |ad minim veniam, quis nostrud exerci tation ullamcorper suscipit lobortis nisl ut aliquip ex
                            |ea commodo consequat. Duis autem vel eum iriure dolor in hendrerit in vulputate velit esse
                            |molestie.</p>
                    </div>
                </div>
            </div>

        </div>

        //-- Footer -->
        <footer class="footer">
            <div class="footer-wrapper layoutContainer">
                <div class="footer-content">
                    <div class="footer-content-logo">
                        <img src="/media/logofooter.svg" alt="logo sanahoria">
                    </div>
                    <div class="footer-content-text">
                        <p>Lorem ipsum dolor sit amet, consectetuer adipiscing elit, sed diam nonummy nibh euismod
                            |tincidunt ut laoreet dolore magna aliquam erat volutpat.</p>
                    </div>
                </div>
                <div class="footer-social">
                    <a class='footer-social-link' href="#"><img src="/media/facebook.svg" alt="facebook icon"></a>
                    <a class='footer-social-link' href="#"><img src="/media/instagram.svg" alt="instagram icon"></a>
                </div>
            </div>
        </footer>

        //-- End Footer -->
    </div>
    //-- End Home -->


    <script src="/js/main.min.js"></script>
</body>

</html>
