extends ../config/template
append config
    -pageTitle = 'Planes'
    -pageDescription = 'Pagina de planes'
    -pageImage = ''

block main




    //- Start Site
    .PagosContainer#PagossContainer
        include ../includes/headerPagos

        .pagos
          .pagos-wrapper.layoutContainer
            include ../includes/pagos1
            //- include ../components/Loader

