extends ../config/template
append config
    -pageTitle = 'Planes'
    -pageDescription = 'Pagina de planes'
    -pageImage = ''

block main


    //- Start Site
    .PedidoContainer#PedidosContainer
        include ../includes/headerPedido
        include ../includes/pedido1
        //- include ../includes/pedido2
        //- include ../includes/pedido2a
        //- include ../includes/pedido2b
        //- include ../includes/pedido3
        //- include ../includes/pedido4










