extends ../config/template
append config
    -pageTitle = 'Planes'
    -pageDescription = 'Pagina de planes'
    -pageImage = ''

block main


    //- Start Site
    include ../includes/headerPerfil
    .perfil.layoutContainer
      .perfil-wrapper
        nav.NavPerfil
          ul.NavPerfil-list
            li.NavPerfil-item
              a.NavPerfil-link(href="#").is-active
                .NavPerfil-link-text Datos personales
                i.NavPerfil-link-icon.icon-user
            li.NavPerfil-item
              a.NavPerfil-link(href="#")
                .NavPerfil-link-text Datos de envío
                i.NavPerfil-link-icon.icon-location
            li.NavPerfil-item
              a.NavPerfil-link(href="#")
                .NavPerfil-link-text Método de pago
                i.NavPerfil-link-icon.icon-credit-card

        //- include ../includes/perfil1
        include ../includes/perfil2
        //- include ../includes/perfil3

