extends ../config/template
append config
    -pageTitle = 'Planes'
    -pageDescription = 'Pagina de planes'
    -pageImage = ''

block main

    //- Fixed Elements


    //- Start Site
    .PlanContainer
        include ../includes/headerPlan
        //- include ../includes/plan1
        //- include ../includes/plan2
        include ../includes/plan3
        //- include ../includes/plan4










