extends ../config/template
append config
    -pageTitle = 'Registro'
    -pageDescription = 'Pagina de Registro'
    -pageImage = ''

block main
    .container
        //- Fixed Elements
        include ../components/Modal
        include ../includes/headerRegistro

        //- Start Site
        .containerRegister
            .register
                .register-wrapper.layoutContainer
                    //- Nav de la Derecha
                    include ../components/NavRegister
                    //- Contenido de la izquierda
                    .register-data
                        //- Menu Top
                        .register-data-nav
                            include ../components/ButtonLogin
                            include ../components/ButtonRegister
                        //- Container de Vistas
                        .register-data-content
                            //- Menu
                            nav.NavMobileRegistro#NavMobileRegistro
                                ul.NavMobileRegistro-list
                                    li.NavMobileRegistro-item: a.NavMobileRegistro-link.is-active(href='#')
                                        | 1
                                    li.NavMobileRegistro-item: a.NavMobileRegistro-link(href='#')
                                        | 2
                                        span.NavMobileRegistro-link-span
                                    li.NavMobileRegistro-item: a.NavMobileRegistro-link(href='#')
                                        | 3
                                        span.NavMobileRegistro-link-span
                                    li.NavMobileRegistro-item: a.NavMobileRegistro-link(href='#')
                                        | 4
                                        span.NavMobileRegistro-link-span
                                    li.NavMobileRegistro-item: a.NavMobileRegistro-link(href='#')
                                        | 5
                                        span.NavMobileRegistro-link-span
                            //- Vistas
                            //- include ../includes/view1
                            //- include ../includes/view1a
                            //- include ../includes/view2
                            include ../includes/view3
                            //- include ../includes/view4
                            //- include ../includes/view5





