.banner {
    width: 100%;
    height: calc(100vh - 50px);
    position: relative;
    background-image: url(/media/bgmobile.png);
    background-position: left;
    background-size: cover;
    background-repeat: no-repeat;
    top: 0;
    left: 0;
    z-index: $z-normal;


    @include from(lg){
        height: 718px;
        background-image: url(/media/bg.png);
        display: flex;
        align-items: flex-end;
    }


    &-wrapper {
        width: 100%;
        height: 100%;
        position: relative;

        @include from(lg){
            display:flex;
            justify-content:center;
            align-items:center;
            height: calc(100% - #{$header-height});
        }



    }
}
