.benefits{

    width: 100%;
    height: 560px;
    background: linear-gradient(white 53% , $color-yellow 53%);

    @include from(lg){
        padding-top: calc(#{$header-height} + 1rem);
        padding-bottom: calc(50px + 1rem);
        height: 605px;
        background: linear-gradient(white 60% , $color-yellow 60%);
    }




    &-wrapper{
        width: 100%;
        height: 100%;
        display: flex;
        justify-content: space-evenly;
        flex-direction: column;
        align-items: center;
        position: relative;


        & h2{
            @include from(lg){
                padding-bottom: 4rem;
            }
        }
    }
}
