.footer{
    width: 100%;
    height: 208px;
    background-color: $color-blue;

    @include from(lg){
        height:186px;
    }

    &-wrapper{
        width: 100%;
        height: calc(100% - 50px);
        position: relative;
        padding: 2rem;
        display:flex;
        justify-content:center;
        flex-direction: column;
        @include from(lg){
            height:100%;
        }


    }

    &-social{
        width: 60px;
        height: 16px;
        position: absolute;
        right: 0;
        bottom: 1rem;
        display: flex;
        justify-content: space-between;
        align-items: center;

        @include from(lg){
            width: 80px;
            height: 27px;
            bottom: 2rem;

        }

        & a{
            width: 100%;
            height: 100%;

            & img{
                height: 100%;
            }
        }

    }
    &-content{

        width: 167px;
        height: 66px;
        color: white;
        font-size: var(--text-2);
        display:flex;
        justify-content:space-evenly;
        flex-direction: column;
        @include from(lg){
            width: 318px;
            height: 54px;
            line-height: 16px;;
        }


        &-logo{
            width: 84px;
            height: 20px;
            @include from(lg){
                width: 112px;
                height: 28px;
            }

        }

        &-text{
            padding-top: 1rem;
            font-size: var(--text-2);
            font-weight: $light;
            color: white;
        }



    }
}
