.header {

    width: 100%;
    height: 50px;
    padding-top: .5rem;
    padding-bottom: .5rem;
    position: absolute;
    top: 0;
    left: 0;
    background: transparent;
    z-index: $z-tooltip;
    transition: background-color .2s;

    @include from(lg) {
        background-color: var(--color-header);
        position: fixed;
        height: $header-height;
    }

    &.is-active {
        background-color: $white;
        box-shadow: 10px 3px 6px $shadow;
    }

    &-wrapper {
        width: 100%;
        height: 100%;
        display: flex;
        justify-content: space-between;
        align-items: center;



    }

    &-logo {
        width: 100%;
        height: 100%;
        display: flex;
        align-items: center;


        @include from(lg) {
            width: 150px;
            height: 37.33px;

        }
    }

    &-toggler {


        @include from(lg) {
            display: none;
        }
    }
}