.how{
    width: 100%;
    height: 389px;
    background: $white;


    @include from(lg){
        height: 790px;
        padding-top: calc(#{$header-height} + 1rem);
        padding-bottom: calc(50px + 1rem);
    }



    &-wrapper{
        width: 100%;
        height: 100%;
        display:flex;
        justify-content:space-evenly;
        align-items:center;
        flex-direction: column;


    }

}
