.products{
    width: 100%;
    height: auto;
    display:flex;
    justify-content:center;
    align-items:center;
    padding: 2rem 0;



    &-wrapper{
        width: 100%;
        height: 207px;
        display: flex;
        justify-content: center;
        align-items: center;




        @include from(lg){
            height: 207px;
            box-shadow: 3px 3px 7px $shadow;
            padding: 0;
        }


    }

    &-item{
        width: 100%;
        height: 100%;
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;


        @include from(lg){
            height: 175px;
            justify-content: space-evenly;
            padding: 1rem 2rem;
            align-items: initial;

        }

        &:nth-child(n+2){
            @include from(lg){
                border-left: 2px solid $gray;
            }
        }




        &-icon{

            @include from(lg){
                width: 46px;
                height: 31px;
            }

        }


        &-title{
            padding: .5rem 0;
            color: $color-red;
            font-weight: bold;
            font-size: var(--text-1);

        }


        &-text{
            display: none;

            @include from(lg){
                font-size: var(--text-1);
                display: inline-block;
                color: $darkgray;
                width: 255px;
                height: 77px;
                overflow: hidden;
                line-height: 19px;
                font-weight: $light;
            }
        }

    }
}
