.questions{
    width: 100%;
    height: auto;
    padding-top: 2rem;
    @include from(lg){
        padding-bottom: 100px;


    }




    &-wrapper{
        width: 100%;
        height: 100%;
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        padding: 0;




        @include from(lg){
            position: relative;
            align-items: flex-start;
        }
    }



    &-image{

        @include from(lg){
            position: absolute;
            height: 100%;
            display:flex;
            justify-content:center;
            align-items:center;
            right: -300px;
            top: .5rem;
        }


        & img {
            width: 261px;
            height: 338px;
            @include from(lg){
                width: 483px;
                height: 626px;
            }
        }
    }

    &-title{

        padding-top: 3rem;
        padding-bottom: 2rem;

        @include from(lg){
            position: relative;
            top: 0;
            left: 102px;
            padding-bottom: 69px;
            padding-top: 69px;

        }

    }


}
