.testimonials{
    width: 100%;
    height: 430px;
    background: linear-gradient($color-yellow 55% , white 55% );

    @include from(lg){
        height: 540px;
        padding-top: calc(#{$header-height} + 1rem);
        padding-bottom: calc(50px + 1rem);
    }

    &-wrapper{
        width: 100%;
        height: 100%;
        display: flex;
        flex-direction: column;
        justify-content: space-evenly;
        align-items: center;
        position: relative;



        & h2{
            @include from(lg){
                padding-bottom: 3rem;
            }
        }



        & .SliderBen-Arrows{
            @include from(lg){
                margin-right:auto;
                margin-left:auto;
                left: initial;
                bottom: -35px;

            }
        }
    }
}
