.Header2{
  width: 100%;
  height: 50px;
  box-shadow: 0 3px 6px $shadow;
  position: fixed;
  z-index: $z-tooltip;
  background: white;


  @include from(lg){
      width: 100%;
      height: $header-height;
      position: fixed;
      top: 0;
      left: 0;
      z-index: $z-fixed;
      background-color: $white;




  }


  &.is-Registro{

    @include from(lg){
      display: none;
    }

  }

  &-wrapper{
    width: 100%;
    height: 100%;
    display: grid;
    grid-template-columns: 1fr 100px 50px;
    padding: 0;

    @include from(lg){
        display:flex;
    }
  }



  &-logo{
    height: 100%;
    display: flex;
    align-items: center;
    padding-left: 1rem;

    @include from(lg){
        padding-left: 0;
    }
  }

  &-toggler{
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    padding-right: 8px;

    @include from(lg){
        display:none;
    }
  }
}
