.loaderContainer{
  width: 100%;
  height: 100%;
  display: flex;
  justify-content: center;
  align-items: center;


  &.is-fixed{
    width: 100vw;
    height: 100vh;
    position: fixed;
    z-index: $z-fixed;
    top: 0;
    left: 0;
    background-color: white;
  }
}



.loader{
  width: 100px;
  height: 100px;
  display: flex;
  justify-content: center;
  align-items: center;
  position: relative;

}

.logo{
  width: 50%;
  height: 50%;
  position:absolute;
  animation: spin .5s infinite linear alternate;
}
.circle{
  animation : loader 1s infinite linear;
  transform-origin: center;
  position:absolute;
}