.Nav2 {
  position: absolute;
  width: 100vw;
  height: 50px;
  top: 50px;
  box-shadow: 0 3px 6px $shadow;
  left: -100vw;
  opacity: 1;
  transition: left .2s, opacity .2s;
  background: white;



  &.is-show {
    opacity: 1;
    left: 0;
  }


  @include from(lg) {
    position: static;
    width: 60%;
    height: 100%;
    display: flex;
    justify-content: flex-end;
    box-shadow: none;
    background: initial;


  }


  &-list {
    width: 100vw;
    display: flex;
    height: 100%;
    overflow: auto;

    @include from(m) {
      justify-content: space-evenly;
    }

    &::-webkit-scrollbar {
      display: none;
    }

    @include from(lg) {
      width: auto;
      height: 100%;
      justify-content: initial;


    }

    &.active {
      color: $color-red;
    }
  }

  &-close {
    align-self: flex-end;
    position: absolute;
    right: 0;
    top: 3rem;


    @include from(lg) {
      display: none;
    }

  }

  &-item {
    padding: 0 .5rem;
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    position: relative;

    @include from(lg) {
      border-bottom: none;
      width: auto;
      height: 100%;
      min-width: initial;
    }

    &:nth-child(1) {
      min-width: 100px;

      @include from(lg) {
        min-width: initial;
      }
    }

    &:nth-child(2) {
      min-width: 100px;

      @include from(lg) {
        min-width: initial;
      }
    }

    &:nth-child(3) {
      min-width: 110px;


      @include from(lg) {
        min-width: initial;
      }
    }

    &:nth-child(4) {
      min-width: 110px;


      @include from(lg) {
        min-width: initial;
      }
    }

    &:nth-child(5) {
      min-width: 120px;

      @include from(lg) {
        min-width: initial;
        display: none;
      }
    }
    &:nth-child(6) {
      min-width: 120px;
      padding-right: 1rem;

      @include from(lg) {
        padding-right: 0;
        min-width: initial;
      }
    }

  }

  &-link {
    width: 100%;
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 15px;
    font-weight: 500;
    transition: color .2s;
    color: $darkgray;
    border-bottom: 6px solid transparent;

    &.active {
      color: $color-red;
      border-bottom: 6px solid $color-red;

      @include from(lg) {
        border-bottom: none;
        color: $color-red;

      }
    }

    @include from(lg) {
      font-size: var(--title);
      font-weight: 500;
      padding: 1rem;
      border-bottom: none;
    }




    &:hover {
      color: $color-red;
    }

    &.is-white:hover {
      color: white;
    }



    @include from(lg) {
      font-size: var(--text-boton);
    }


    &-icon {

      @include from(lg) {
        width: 17px;
        height: 17px;
        background-image: url('/media/iconLoginDesktop.svg');
        background-repeat: no-repeat;
      }

    }


  }
}