@keyframes slideRight {
  0% {
    transform: translateX(0);
    opacity: 0;
  }

  50% {
    opacity: 1;
    transform: translateX(-100%);
  }

  80% {
    opacity: 0;
    transform: translateX(-100%);
  }

  100% {
    transform: translateX(-100%);
    opacity: 0;
  }
}


@keyframes loader{

  to{
    transform : rotate(1turn);
  }
}

@keyframes spin{
  to{
    transform: scale(.8);
  }
}