*,
*::before,
*::after {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
    // outline: 1px solid black;
}

img {
    max-width: 100%;
}

body {
    font-family: $font-family-primary;
    font-size: var(--body-size);

    &::-webkit-scrollbar {
        width: .6rem;
        height: .6rem;

    }

    &::-webkit-scrollbar-thumb {
        background: rgb(122, 122, 122);
    }


    &::-webkit-scrollbar-track {
        background: transparent;
        border-radius: .5em;
    }
}

a {
    text-decoration: none;
    color: inherit;
}

li {
    list-style: none;
}

input {
    display: block;
}

pre {
    font-family: $font-family-primary;

}





@font-face {
    font-family: 'icomoon';
    src: url('/fonts/icomoon.eot?clqmgf');
    src: url('/fonts/icomoon.eot?clqmgf#iefix') format('embedded-opentype'),
        url('/fonts/icomoon.ttf?clqmgf') format('truetype'),
        url('/fonts/icomoon.woff?clqmgf') format('woff'),
        url('/fonts/icomoon.svg?clqmgf#icomoon') format('svg');
    font-weight: normal;
    font-style: normal;
    font-display: block;
}

[class^="icon-"],
[class*=" icon-"] {
    /* use !important to prevent issues with browser extensions that change fonts */
    font-family: 'icomoon' !important;
    speak: none;
    font-style: normal;
    font-weight: normal;
    font-variant: normal;
    text-transform: none;
    line-height: 1;

    /* Better Font Rendering =========== */
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
}


.icon-arrow-right:before {
    content: "\e903";
}

.icon-credit-card:before {
    content: "\e901";
}

.icon-location:before {
    content: "\e902";
}

.icon-user:before {
    content: "\e900";
}