// Colors
$color-red : #FF3600;
$color-yellow : #FFB800;
$color-blue : #001F45;
$color-green : #35c567;
$color-gris: #cccccc;

$white : #f8f8f8;
$gray : #e0e0e0;
$darkgray : #707070;
$shadow: rgba(0, 0, 0, .16);
$bg-modal: rgba(0,0,0,.60);

:root {
    --color-header: rgba(255, 255, 255, .7);
}


// Typography

$font-family-primary: 'Roboto',
sans-serif;
$font-family-secondary: 'Ubuntu',
sans-serif;


//Typografy

$light: 300;
$medium: 500;
$body-size: 16px;

:root {

    --title: 20px;
    --subtitle: 12px;
    --text-boton: 14px;
    --text-1: 12px;
    --text-2: 8px;

    @media screen and (min-width: 48em) {
        --title: 40px;
        --subtitle: 14px;
        --text-boton: 14px;
        --text-1: 14px;
        --text-2: 12px
    }
}


//  Z-index Variables

$z-back: -10;
$z-normal: 1;
$z-tooltip: 10;
$z-fixed: 100;
$z-modal: 1000;
$z-modal-2: 2000;



//  Layout

$max-width: 990px;
$header-height: 68px;


//  BreakPoints
$breakpoints : (
    xs: 18em,
    s : 35.5em, // ~ 568px ( landscape mobiles )
    m : 47.9375em, // ~ 768px ( tablets )
    lg : 62em, // ~ 992px ( desktop )
    xl : 75em // ~1200px ( Tvs )
) !default;
