.BtnPerfil{
  width: 250px;
  height: 50px;
  transition: transform .1s;

  &:active{
    transform: translateY(2px);
  }

  &-link{
    width: 100%;
    height: 100%;
    display:flex;
    justify-content:center;
    align-items:center;
    background: $color-red;
    color: white;
    font-weight: bold;
    font-size: 14px;

  }
}