.FormPerfil {
  width: 100%;
  display: grid;
  grid-template-rows: repeat(6,40px);
  grid-template-columns: 1fr;
  grid-row-gap: .5rem;


  & textarea{
    width: 100%;
    border: 1px solid $darkgray;
    color: $darkgray;
    font-size: var(--text-boton);
    font-weight: bold;
    border-radius: 0;
    padding-top: 12px;
    padding-left: 12px;
  }
  @include from(lg){
    grid-template-rows: repeat(6,50px);
    grid-row-gap: 1rem;
  }

  &.perfil3 {
    align-items: center;
    grid-template-rows: 40px 40px 90px 40px 40px 90px ;

    @include from(lg){
      grid-template-rows: repeat(6,50px);
    }
  }

  &.perfil2 {
    padding-top: 1rem;
    padding-bottom: 1rem;
    grid-template-rows: repeat(5,40px) 100px;
    grid-template-columns: 1fr;
    grid-template-areas: 'direccion' 'interno' 'externo' 'postal' 'tipo' 'comentario';


    & .InputWrapper:nth-child(1){
      grid-area: direccion;
    }
    & .InputWrapper:nth-child(2){
      grid-area: interno;
    }
    & .InputWrapper:nth-child(3){
      grid-area: externo;
    }
    & .InputWrapper:nth-child(4){
      grid-area: postal;
    }
    & .perfil2-selectContainer{
      grid-area: tipo;
    }
    & textarea{
      grid-area: comentario;
    }
    & .perfil2-mapContainer{
      grid-area: mapa;
    }



    @include from(lg){
      grid-template-rows: repeat(3,50px) 80px 120px;
      grid-template-columns: 1fr 1fr;
      grid-template-areas: 'direccion direccion'
                            'interno externo'
                            ' postal tipo'
                            'comentario comentario'
                            'mapa mapa';
      grid-column-gap: 1rem;
      padding-top: 0;
      padding-bottom: 0;
    }

  }
}