.NavPerfil{
  width: 100%;
  height: 50px;
  display:flex;
  justify-content:center;
  position: absolute;
  top: 10px;

  @include from(m){
      top: 20px;
  }


  @include from(lg){
    width: 45%;
    height: 100%;
    position: static;
  }



  &-list{
    width: 200px;
    height: 50px;
    display: flex;
    justify-content: space-between;


    @include from(lg){
      width: 100%;
      height: initial;
      display: initial;
      justify-content: initial;
    }
  }

  &-item{

  }

  &-link{
    width: 50px;
    height: 50px;
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 50%;
    box-shadow: 0 3px 6px $shadow;
    color: $darkgray;
    font-size: 22px;

    &.is-active{
      background: $color-red;
      color: white;

      @include from(lg){
          background-color: initial;
          color: initial;
      }

      & .NavPerfil-link-text{
        color: $color-blue;
      }


    }

    @include from(lg){
      width: 60%;
      display:flex;
      justify-content: initial;
      align-items: initial;
      padding-bottom: 1rem;
      align-items:center;
      box-shadow: initial;
      border-radius: initial;
    }






    &-text{
      display: none;
      @include from(lg){
        display: flex;
        font-size: 20px;
        color: $darkgray;
        font-weight: bold;
        font-family: $font-family-secondary;
        cursor: pointer;
      }

    }


    &-icon{
      @include from(lg){
          display: none;
      }
    }


  }
}