.TitlePerfil{
  color: $color-blue;
  font-size: 20px;
  font-weight: bold;
  font-family: $font-family-secondary;
  text-align: center;

  &.perfil3{
    padding: 1rem 0;
    @include from(lg){
        padding:0;
        display: block;
    }
  }

  @include from(lg){
      display:none;
  }

}
