.container {
    width: 100%;

    &.is-blocked {
        overflow: hidden;
    }

    &-site {
        @include from(lg) {
            width: 100%;
            overflow: hidden;
        }

    }
}

.layoutContainer {
    padding-right: 1rem;
    padding-left: 1rem;
    max-width: $max-width;
    margin-right: auto;
    margin-left: auto;

}
