.plan4{


    &-content{
        width: 100%;
        height: 225px;
        display:flex;
        justify-content:space-between;
        align-items:center;
        flex-direction: column;

        @include from(lg){
            width: 400px;
        }

    }

    &-title{
        font-size: var(--title);
    }

    &-text{
        text-align: center;
        font-size: var(--text-boton);
        color: $color-blue;
        font-weight: $light;
        padding: 0 2rem;

        @include from(lg){
            padding: 0;
        }
    }
}
