.plan3{

    &-content{
        width: 100%;
        height: 100%;
        display:flex;
        justify-content:space-evenly;
        align-items:center;
        flex-direction: column;

        @include from(lg){
            width: 420px;
            height: 470px;
            justify-content:space-between;
        }

    }

    &-inputContainer{
        width: 100%;
        height: 90px;
        display:flex;
        justify-content:space-between;
        align-items:center;
        flex-direction: column;

        &.is-creditCard{
            height: 40px;
            flex-direction: row;
            @include from(lg){
                height: 50px;
            }
        }

        &.is-cupon{
            height: 40px;
            flex-direction: row;
            @include from(lg){
                height: 50px;
                width: 48%;
            }

            & .InputIcon{
                width: 50px;
                height: 100%;
                background-image: url("/media/send.svg");
                background-repeat: no-repeat;
                background-position: center;
                cursor: pointer;
                padding: 0;
            }
        }
        @include from(lg){
            flex-direction: row;
            height: 50px;
        }

        & .InputWrapper{

            border-right: 0;
        }

        & .InputIcon{
            width: 50px;
            height: 100%;
            border: 1px solid $darkgray;
            border-left: 0;
            display:flex;
            justify-content:center;
            align-items:center;
            padding-right: 5px;


        }


    }

    &-input{
        display: none;



        &:checked+label{
            background: $color-yellow;
            color: white;
        }
    }

    &-label{
        width: 100%;
        height: 100%;
        box-shadow: 3px 3px 6px $shadow;
        display:flex;
        justify-content:center;
        align-items:center;
        cursor: pointer;
        transition: background-color .2s,color .2s;
        color: $darkgray;
        font-size: var(--text-boton);
        font-weight: bold;

        @include from(lg){
            width: 200px;
        }

    }



    &-form{
        width: 100%;
        height: 350px;
        display:flex;
        justify-content:space-between;
        flex-direction: column;
        position: relative;

        @include from(lg){
            height: 250px;
        }


    }


    &-inputCheckContainer{
        display: flex;
        align-items: center;
        font-weight: $light;

        & label{
            font-weight: 400;
            color: $darkgray;
            font-size: 10px;
        }
    }

    &-inputCheckbox{
        margin-right: .5rem;
    }


    &-inputsContainer{
        width: 100%;
        display: flex;
        justify-content: space-between;
        flex-direction: column;
        height: 90px;

        @include from(lg){
            flex-direction: row;
            height: auto;
        }



        & .InputWrapper{
            width: 100%;

            @include from(lg){
                width: 200px;
            }
        }
    }

    &-textContainer{
        width: 100%;
        height: 80px;
        display: flex;
        flex-direction: column;
        justify-content: space-evenly;
        font-weight: bold;
        @include from(lg){
            width: 48%;
            height: 50px;
            position: absolute;
            bottom: 0;
            right: 0;
        }

        &-descuento{
            width: 100%;
            display: flex;
            justify-content: space-between;
            align-items: center;
            font-size: 12px;
            color: $darkgray;

        }

        &-priceFinal{
            color: $color-blue;

            width: 100%;
            display: flex;
            justify-content: space-between;
            align-items: center;
        }
    }
}
