.plan2 {

    &-content {
        width: 100%;
        height: 100%;
        display: flex;
        justify-content: space-around;
        align-items: center;
        flex-direction: column;
        max-height : 700px;

        @include from(lg) {
            width: 420px;
            height: 474px;
        }


    }

    &-form {

        width: 100%;
        height: 370px;
        display: flex;
        justify-content: space-between;
        align-items: center;
        flex-direction: column;

        @include from(lg) {
            height: 340px;
        }


        &-inputContainer {
            width: 100%;
            height: 110px;

            @include from(lg){
                height: 100px;
            }
        }

        &-input {
            display: none;

            &:checked+label {
                background-color: $color-yellow;
                color: white;
            }

            &:checked+label .plan2-form-labelPlan {
                border-bottom: 1px solid white;

                @include from(lg) {
                    border-right: 1px solid white;
                    border-bottom: none;
                }
            }
        }

        &-label {
            width: 100%;
            height: 100%;
            display: grid;
            grid-template-columns: 1fr;
            grid-template-rows: 35px 75px;
            justify-items: center;
            align-items: center;
            color: $darkgray;
            box-shadow: 3px 3px 6px $shadow;
            padding: 0 1rem;
            cursor: pointer;
            transition: background-color .2s, color .2s;

            @include from(lg) {
                width: 100%;
                height: 100%;
                display: flex;
                align-items: center;
                padding: 5px 0;

            }


            &Plan {
                width: 100%;
                height: 100%;
                display:flex;
                justify-content:center;
                align-items:center;
                color: inherit;
                border-bottom: 1px solid $darkgray;
                font-size: 12px;


                @include from(lg) {
                    width: 100px;
                    text-align: center;
                    font-size: 20px;
                    font-weight: bold;
                    border-right: 1px solid $darkgray;
                    transition: border-right .2s;
                    border-bottom: none;
                    padding: 0 .5rem;
                }
            }

            &Content {
                width: 100%;
                height: 100%;
                font-size: var(--text-boton);
                color: inherit;
                display: flex;
                flex-direction: column-reverse;
                justify-content: center;

                @include from(lg){
                    width: 320px;
                    padding: 1rem 3rem 1rem 1rem;
                }

                & span {
                    font-size: 12px;
                    font-weight: bold;
                    padding-top: 5px;
                    @include from(lg){
                        font-size: 14px;
                    }
                }

                & p {
                    font-size: 12px;
                    font-weight: $light;

                    @include from(lg){
                        font-size: 14px;
                    }

                }
            }

        }

    }


}