.planes {
    width: 100%;
    height: 500px;
    min-height:calc(100vh - 100px);
    position: relative;
    display: flex;
    justify-content: center;
    align-items: center;
    padding-top: 100px;

    @include from(lg){
        padding-top: 68px;
        height:100vh;
        min-height:calc(100vh - 68px);

    }
    &.plan2{
        height: 700px;
        @include from(lg){
            height: 100vh;
        }
    }

    &.plan3{
        height: 800px;

        @include from(lg){
            height: 100vh;
            padding-top: 68px;
        }
    }


    &-wrapper {
        width: 100%;
        height: 100%;
        position: relative;
        display: flex;
        justify-content: center;
        align-items: center;
        flex-direction: column;
        max-width: 400px;

        @include from(lg){
            max-width: $max-width;
        }

    }


    &-button {
        display: none;

        @include from(lg) {
            display: initial;
            align-self: flex-start;
            width: 100px;
            padding: 2rem 0;
            display: flex;
        }




        &-icon {
            width: 30px;
            height: 23px;
            background: url(/media/iconArrowRight.svg) no-repeat center;
            margin-right: .5rem;
            cursor: pointer;
        }

        &-text {
            width: 100%;
            height: 100%;
            font-size: 20px;
            font-weight: bold;
            color: $color-blue;
            font-family: $font-family-secondary;
        }
    }






}