.plan1 {

    &-content {
        width: 100%;
        height: 100%;
        display: flex;
        justify-content: space-around;
        align-items: center;
        flex-direction: column;

        @include from(lg) {
            max-width: 800px;
            height: 440px;
        }

    }

    &-form {
        width: 100%;
        height: 270px;
        @include from(lg){
            height:auto;
        }



        &-inputContainer {
            width: 100%;
            height: 110px;
            @include from(lg){
                height: 137px;
            }


        }

        &-input {
            display: none;



            &:checked+label {
                background: $color-yellow;
                color: white;
            }

            &:checked+label .plan1-form-labelPlan {
                border-bottom: 1px solid white;

                @include from(lg) {
                    border-right: 1px solid white;
                    border-bottom: none;

                }
            }

            &:checked+label .plan1-form-labelItem-icon {
                background-image: url(/media/comidaWhite.svg);
            }

            &:checked~.plan1-form-text {
                color: $color-blue;
            }
        }

        &-label {
            display: grid;
            grid-template-columns: 1fr;
            cursor: pointer;
            box-shadow: 3px 3px 6px $shadow;
            padding: 0 1rem;

            @include from(lg) {
                display: grid;
                grid-template-columns: 100px 1fr;
                grid-template-rows: 100px;
                align-items: center;
                padding: 0;

            }




            &Plan {
                width: 100%;
                height: 35px;
                display: flex;
                justify-content: center;
                align-items: center;
                text-align: center;
                color: inherit;
                font-size: 12px;
                font-weight: bold;
                border-bottom: 1px solid $darkgray;

                & p{
                    white-space: nowrap;

                    @include from(lg){
                        white-space: pre-wrap;
                    }
                }


                @include from(lg) {
                    width: 100px;
                    height: 90px;
                    display: flex;
                    justify-content: center;
                    align-items: center;
                    text-align: center;
                    color: inherit;
                    font-size: var(--text-boton);
                    font-weight: bold;
                    border-right: 1px solid $darkgray;
                    border-bottom: none;

                }


            }

            &Content {

                display: grid;
                grid-template-columns: 77px 12px 77px 12px 77px;
                grid-template-rows: 50px 50px;
                justify-content: center;
                padding: .5rem 0;

                &.is-2-items {
                    grid-template-columns: 77px 12px 77px;
                    grid-template-rows: 100%;
                    @include from(lg) {
                        padding: 0 2rem;
                        grid-template-columns: 110px 25px 110px 25px 110px 25px 110px 25px 110px;
                        grid-template-rows: 100px;
                        height: 100%;
                    }
                }


                &.is-5-items{
                    grid-template-columns: 77px 12px 77px 12px 77px;
                    grid-template-rows: 50px 50px;
                    grid-row-gap: .5rem;
                    @include from(lg) {
                        grid-row-gap: 0;
                        padding: 0 2rem;
                        grid-template-columns: 110px 25px 110px 25px 110px 25px 110px 25px 110px;
                        grid-template-rows: 100px;
                        height: 100%;
                    }
                }


            }

            &Item {
                width: auto;
                height: 100%;
                display: flex;
                justify-content: center;
                align-items: center;
                flex-direction: column;

                &.is-relleno{

                    opacity: 0;
                    @include from(lg){
                        display: none;
                        opacity: 1;
                    }
                }

                &.is-hidden {
                    display: none;

                    @include from(lg) {
                        display: flex;
                    }
                }

                &:nth-child(1) {
                    @include from(lg) {}
                }

                &:nth-child(2) {
                    @include from(lg) {}
                }

                &:nth-child(3) {
                    @include from(lg) {}
                }

                &:nth-child(4) {
                    @include from(lg) {}
                }

                &:nth-child(5) {
                    @include from(lg) {}
                }

                &-icon {
                    width: 22px;
                    height: 22px;
                    background: url(/media/comida.svg) no-repeat center;
                    background-size: cover;

                    @include from(lg) {
                        width: 42px;
                        height: 42px;
                        background: url(/media/comida.svg) no-repeat center;
                    }

                }

                &-text {
                    font-weight: bold;
                    font-size: 10px;
                    color: inherit;
                    padding-top: .5rem;
                    white-space: nowrap;
                    @include from(lg) {
                        font-size: var(--text-boton);
                    }
                }

            }

            &Plus {
                font-weight: bold;
                font-size: var(--text-boton);
                color: inherit;
                display: flex;
                justify-content: center;
                align-items: flex-end;
                padding-bottom: 1rem;

                &.is-relleno{

                    opacity: 0;
                    @include from(lg){
                        opacity: 1;
                    }
                }
                &.is-hidden {
                    display: none;

                    @include from(lg) {
                        display: flex;
                    }
                }
            }
        }

        &-text {
            display: none;

            @include from(lg) {
                height: 37px;
                display: flex;
                align-items: center;
                font-size: 12px;
                color: $darkgray;
            }

        }
    }

}