.Button {
    width: 101px;
    height: 40px;
    display: flex;
    justify-content: center;
    align-items: center;
    border: none;

    @include from(lg){
        width: 110px;
        height: 50px;
    }

    &.is-pedido{
        width: 220px;

        @include from(lg){
            width: 250px;
        }
    }
    &.is-mobileHidden{
        display: none;

        @include from(lg){
            display: flex;
        }
    }
    &.is-desktopHidden{
        @include from(lg){
            display:none;
        }
    }
    &.is-nav{
        height: 100%;
    }
    &.is-mobile{
        width: 246px;
    }

    &.is-home{
        display: none;

        @include from(lg){
            display:flex;
        }
    }

    &.user{
        display: none;

        @include from(lg){
            width: auto;
            display: flex;

        }
    }





    &-link {
        width: 100%;
        height: 35px;
        display: flex;
        justify-content: center;
        align-items: center;
        color: $darkgray;
        position: relative;
        transition: background-color .1s, color .1s;
        border-right: 2px solid $darkgray;
        border-left: 2px solid $darkgray;
        cursor: pointer;
        white-space: nowrap;

        &.user{
            justify-content: flex-start;
            width: auto;
            padding-left: 1rem;

            &:hover::after{
                margin-left: -18px;
                width: 120%;
            }

        }
        &.calendar{
            cursor: default;
            @include to(lg){
                width: auto;
                padding-right: 10px;
                padding-left: 10px;
                color: $color-red;


                & .Button-link-icon {
                    background-image: url(/media/iconCalendarRed.svg);
                }



            }

        }

        &.home{
            color: $color-blue;
            border-right: 2px solid $color-blue;
            border-left: 2px solid $color-blue;
        }

        &.is-activePerfil{
            color: $color-red;

            & .Button-link-icon {
                background-image: url(/media/iconPerfilActive.svg);
            }



        }
        &.is-active {

            color: white;

            &.Button-link::after {
                z-index: $z-normal;
                background-color: $color-red;
            }
            & .Button-link-icon {
                background-image: url(/media/iconLoginDesktopHover.svg);
            }
        }
        &.is-gray {

            color: $darkgray;

            &.Button-link::after {
                z-index: $z-normal;
                background-color: $gray;
            }
            & .Button-link-icon {
                background-image: url(/media/iconLoginDesktopHover.svg);
            }

            @include from(lg){
                display:none;
            }
        }

        &:hover {
            color: white;

            &::after {
                z-index: $z-normal;
                background-color: $color-red;
            }

            & .Button-link-icon {
                background-image: url(/media/iconLoginDesktopHover.svg);
            }

            & .Button-link-icon.plan{
                background-image: url(/media/iconShopHover.svg);
            }
        }

        &::after {
            content: '';
            position: absolute;
            width: 106%;
            height: 40px;
            z-index: $z-back;

            @include from(lg){
                height: 50px;
            }




        }

        &.delete-left-1-perfil{
            border-left: 1px solid $color-red;
        }
        &.delete-right-1-perfil{
            border-right: 1px solid transparent;
            @include from(lg){
                border-right: 1px solid $color-red;
            }

        }

        &.delete-right-1{
            border-right: 1px solid $darkgray;
            @include to(lg){
                border-right: 0;
            }
        }
        &.delete-right-1-home{
            border-right: 1px solid $color-blue;
        }

        &.delete-left-1 {
            border-left: 1px solid $darkgray;
        }
        &.delete-left-1-home {
            border-left: 1px solid $color-blue;
        }
        &.delete-right-0{
            border-right: 0;
        }
        &.delete-left-0{
            border-left: 0;
        }







        &-icon {
            width: 18px;
            height: 18px;
            background-image: url(/media/iconLoginMobile.svg);
            background-repeat: no-repeat;
            position: relative;
            z-index: $z-tooltip;
            margin-right: .2rem;

            &.plan{
                background-image: url(/media/iconShop.svg);
            }

            &.home{
                background-image: url(/media/iconLoginDesktop.svg);
            }

        }

        &-text {
            position: relative;
            font-size: var(--text-boton);
            font-weight: $medium;
            z-index: $z-tooltip;
            padding: 0;


        }
    }

}
