.InputWrapper {
    position: relative;
    border: 1px solid $darkgray;
    height: 40px;
    display: flex;
    align-items: center;
    width: 100%;

    &.is-radio{
        border: none;
        padding: 0;
    }
    @include from(lg) {
        height: 50px;
    }




    &-input {
        width: 100%;
        height: 100%;
        background: none;
        border: 1px solid $darkgray;
        color: $darkgray;
        font-size: var(--text-boton);
        display: block;
        font-weight: bold;
        width: 100%;
        border: none;
        border-radius: 0;
        padding-top: 12px;
        padding-left: 12px;
        transition: 0.2s;
        outline: none;
    }

    &-label {
        font-size: var(--text-boton);
        position: absolute;
        pointer-events: none;
        left: 5px;
        transition: 300ms ease all;
        padding: 0 0 0 7px;
        opacity: 0.5;
    }

    &-input:focus~label,
    &-input:not(:placeholder-shown)~label {
        transform: translateY(-10px);
        font-size: 9px;
        opacity: 1;
        color: $darkgray;

        @include from(lg) {
            transform: translateY(-14px);
            font-size: 9px;

        }
    }
}


input::placeholder{
    color: transparent;
}
textarea::placeholder{
    color: black;
    opacity: 0.5;
    font-weight: normal;
}

input[type=number]::-webkit-inner-spin-button,
input[type=number]::-webkit-outer-spin-button {
    appearance: none;
    margin: 0;
}

input[type=number] { -moz-appearance:textfield; }