.ModalMap {
    position: fixed;
    width: 100vw;
    height: 100vh;
    background: $bg-modal;
    z-index: $z-modal;
    top: 0;
    left: 0;
    display: flex;
    justify-content: center;
    align-items: center;
    transform: translateX(-100vw);
    transition: background-color .2s, opacity .2s;
    opacity: 0;


    &.is-show {
        transform: translateX(0);
        opacity: 1;
    }

    &-container {
        width: 280px;
        height: 350px;
        background: white;


        @include from(lg) {
            width: 483px;
            height: 416px;
        }
    }
}