.NavMobileRegistro{
  width: 250px;
  height: 40px;
  position: absolute;
  top: 10px;




  @include from(lg){
      display:none
  }

  &-list{
    width: 100%;
    height: 100%;
    display: flex;
    justify-content: space-between;
  }

  &-item{
  }

  &-link{
    width: 40px;
    height: 40px;
    border-radius: 50%;
    box-shadow: 0 3px 6px $shadow;
    display:flex;
    background: white;
    justify-content:center;
    align-items:center;
    font-size: 10px;
    font-weight: bold;
    font-family: $font-family-secondary;
    color: $darkgray;
    position: relative;

    &-span{
      width: 25px;
      height: 10px;
      background: $color-red;
      top: 16px;
      left: 0;
      position: absolute;
      transform: translateX(-22px) scaleX(0);
      transform-origin: left;
      transition: transform .2s;

    }

    &.is-active{
      color: white;
      background-color: $color-red;

      & .NavMobileRegistro-link-span{
        transform: translateX(-22px) scaleX(1);
      }
    }

  }
}