.NavRegister {
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    background: $color-blue;
    position: relative;


    @include to(lg) {
        display: none;
    }



    &::before {
        content: '';
        position: absolute;
        height: 100vh;
        width: 100%;
        background: $color-blue;
        z-index: $z-back;

    }



    &-wrapper {
        width: 100%;
        height: 560px;
        display: flex;
        justify-content: space-between;
        flex-direction: column;



    }

    &-logo {}


    &-list {
        width: 100%;
        height: 470px;
        display: flex;
        justify-content: space-between;
        flex-direction: column;

    }

    &-item {
        width: 100%;
        height: 57px;





    }


    &-link {
        width: 100%;
        height: 100%;
        display: flex;
        justify-content: space-between;
        color: $darkgray;
        font-weight: $light;
        font-size: var(--text-1);

        &.is-active{

            & .NavRegister-link-text{
                font-weight: $medium;
                color: white;
            }
            & .NavRegister-link-icon{
                background-color: $color-red;
                color: white;
            }
        }


        &-text {
            width: 210px;
            height: 100%;
            line-height: 18px;
            overflow: hidden;
            font-size: var(--text-1);
        }


        &-icon {


            border-radius: 50%;
            width: 60px;
            height: 60px;
            display: flex;
            justify-content: center;
            align-items: center;
            background: white;
            box-shadow: 0 3px 6px $shadow;
            font-family: $font-family-secondary;
            font-weight: bold;
            font-size: 20px;
            color: $color-gris;
            transform: translateX(60%);

        }

    }

}