.PictureRegister{
    width: 150px;
    height: 170px;



    &.is-mobile{
        display: none;
        @include from(lg){
            display:block;
        }
    }

    &.is-view3{
        display: none;
        @include from(lg){
            display:none;
        }
    }

}
