.TitleRegister{
    color: $color-blue;
    font-size: 16px;
    font-weight: bold;
    text-align: center;

    @include from(lg){
        font-size: 20px;

    }

    &.is-validated{
        font-weight: 500;
    }
    &.view5Title{
        font-size: 25px;
        font-family: $font-family-secondary;
        @include from(lg){
            font-size: 40px;

        }
    }

}
